[2020-11-13 23:36] WesleyRosenblum opened #1 "Update K definition (Eq. 2) to account for Fast Convergence"
As discussed in [this tcpm thread](https://mailarchive.ietf.org/arch/msg/tcpm/O7Q55oXcoI1XNBZ_wAQOMdhRQNY/), after fast convergence (section 4.6), the candidate target value of the congestion window may be less than the current congestion window. For example, say cwnd = 100, beta_cubic = .7 and a congestion event occurs:

[code]

If we were to enter congestion avoidance at this point, with a small

[2020-11-14 06:01] goelvidhi opened #2 "Congestion window TCP friendly region after W_max"
The idea of using alpha_aimd as defined below is to ensure that the congestion window growth for Cubic is similar to standard TCP as Cubic's reduction factor (0.3) is smaller than that of standard TCP (0.5)

Currently, alpha_aimd = 3*(1-beta_cubic)/(1+beta_cubic) // for the entire TCP friendly region

But we think that once the cwnd in TF region reaches W_max, we should set the alpha_aimd to 1 to

[2020-11-14 22:14] lisongxu commented on #1
Yes, we can change Equation 2 in the RFC to the following equation where cwnd is the cwnd at the beginning of the current congestion avoidance stage.

`
K = cubic_root((W_max - cwnd)/C)  (Eq. 2)
`

To be exactly consistent with the Linux Cubic implementation, we can change Equation 2 to the following statement, where cwnd is still the cwnd at the beginning of the current congestion avoidance stage

[2020-11-14 22:29] lisongxu commented on #2
Thank you, you are right that once cwnd reaches W_max, we should set alpha_aimd (or the delta variable in Linux) to 1 to make sure that CUBIC has at least the same throughput as the standard TCP.

But if the purpose of this RFC is to document the current Linux CUBIC implementation, then we do not need to change it.

Thanks,

[2020-11-15 08:24] larseggert commented on #1
@lisongxu thanks for confirming that Linux is doing something very similar! We should poll other implementors to see if they are already doing this, or would start to if we were to make this change.

@goelvidhi could you update the PR accordingly?

[2020-11-15 08:25] larseggert commented on #2
@lisongxu Is this a change that should be committed to Linux?

We should also poll other implementations if they are doing something similar to what is proposed already, or would start doing so if we made the change.

[2020-11-16 07:12] goelvidhi commented on #1
@lisongxu, in the below equation, setting W_max = cwnd seems superfluous. Also, next time we want to compute K, it will enter the first condition and end up with K = 0.
[code]

[2020-11-16 07:17] goelvidhi commented on #2
Correct if I am wrong, but I think the purpose of an RFC should be to document what would be the right behavior for the algorithm instead of what a particular implementation is doing. Having said that, as Linux is widely used OS, I think it would be good to commit this to Linux if we agree that this is a required change.

@larseggert what is the best way to start a poll for other implementations?

[2020-11-16 07:24] larseggert commented on #2
@goelvidhi RFC8312 was specifically written because there was no accurate CUBIC specification at the time other than the Linux source code (the paper algorithm was outdated.) I think we should try and stick to this for the revision, i.e., document the CUBIC variant that is used in production now, in Linux and other stacks.

That said, *if* there are modifications that we want to propose that would

[2020-11-16 09:26] larseggert opened #4 "Code to re-generate tables"
Does anyone have code to (re-)generate Tables 1, 2 and 3 for when we make changes to the math?

[2020-11-16 10:54] larseggert opened #5 "List of variables and constants"
It would be useful to add a consolidated list of all constants and variables with their units and a brief description.

[2020-11-16 11:01] larseggert opened #6 "Units are missing or unclear"
@martinthomson raised this on the QUIC slack:

I'm assuming that the units of W_cubic(t) and W_max are bytes (or multiples of MSS, I guess).  But what about W_est(t)?
W_est(t) = W_max*0.7 + 1.1 * t / RTT
(Numbers approximated.)  That's a component in bytes, and a unit-less component.

[2020-11-16 11:03] larseggert opened #7 "cwnd can now be less than 2"
@martinthomson raised this on the QUIC slack:
[code]

[2020-11-17 02:16] goelvidhi commented on #5
I can help with this

[2020-11-17 02:18] goelvidhi commented on #7
Ah.. for this code, a simple fix would be:
[code]
I can work on this one, if no one else is.

[2020-11-17 02:28] lisongxu commented on #2
I am not sure, but I guess this change has little impact on the cubic performance, especially in highspeed networks.  Thanks

[2020-11-17 02:36] lisongxu commented on #4
I do have the code.  But we do not need to change these tables for the changes that we have discussed so far.  Thanks

[2020-11-17 02:37] lisongxu commented on #5
Thank you, Vidhi!

[2020-11-17 02:38] sangtaeha commented on #7
Yes, Linux also implements it this way.

[2020-11-17 02:40] lisongxu commented on #6
Copied from the beginning of Section 4: "The unit of all window sizes in this document is segments of the  maximum segment size (MSS), and the unit of all times is seconds."

[2020-11-17 04:23] sangtaeha commented on #1
@lisongxu We may remove W_max = cwnd under the else {} since this is about how we compute K? Sections on convex and concave regions already explained what happens when cwnd is greater than equal to Wmax.

[2020-11-17 04:52] larseggert commented on #6
Right, but are all variables window sizes?

[2020-11-17 05:02] larseggert commented on #4
Do you think it might be a good idea to add that code to the repo anyway, so we have it handy in the future?

[2020-11-17 05:09] lisongxu commented on #1
We calculate K only once at the beginning of a congestion avoidance stage.

Statement "W_max = cwnd" corresponds to line 249 of [https://github.com/torvalds/linux/blob/master/net/ipv4/tcp_cubic.c#L249](url).  Without this statement, the new cwnd calculated at t=0 using Equation (1) would be even lower than the current cwnd.
`
W_cubic(t) = C*(t-K)^3 + W_max (Eq. 1)
`

But I agree that we should not

[2020-11-17 05:12] lisongxu commented on #4
Sure, here is the code to generate the cubic columns in tables 1 and 2.

[code]

[2020-11-17 05:14] larseggert commented on #4
Thanks!

[2020-11-17 05:15] mirjak opened #10 "Highlight difference to paper"
Would be nice to highlight what has changed from the original paper as that paper is still a good source to start with and understand cubic.

[2020-11-17 05:17] sangtaeha commented on #1
I agree. Yes, without a new variable, it is hard. Now, it is closer to Linux implementation.

[2020-11-17 05:20] lisongxu commented on #6
If I did my math correctly ...

Unit of C : MSS / (Second^3)
Unit of K : Second

[2020-11-17 05:29] goelvidhi commented on #6
I think,
C is 1/ S^3
t is time in sec
K is time in sec
All Ws are in packets. (W_est is also in packets and packets don't have any units)

[2020-11-17 05:31] goelvidhi commented on #6
What would be the best place to add these units? Next to the equation or the section where all variables would be described? (ref. https://github.com/NTAP/rfc8312bis/issues/5)

[2020-11-17 05:49] sangtaeha commented on #10
RFC 8312 was close to the original paper, and this version clarifies a few implementation details. This is more like we explain the difference between RFC 8312 and a new version. @larseggert and @lisongxu If you want to include this, I can help. We may have to use a separate section for this information?

[2020-11-17 05:52] mohittahiliani opened #11 "Add details about response to ECN marks"
It would be nice to describe how a CUBIC sender should respond to ECN marks from the receiver. On receiving an ECE mark, the Linux CUBIC enters a CWR state and follows PRR.

More details about this are available in the document:
https://docs.google.com/document/d/1QiDqBo94wKr1eptTFe6xAB0RWWlwYOy8VLOWrpVAie8/edit

[2020-11-17 06:06] sangtaeha commented on #6
@goelvidhi Where we explain C, t, K, Wmax, etc.?

[2020-11-17 06:14] larseggert commented on #10
Yes, a separate section (or an appendix) makes sense. I think discussing both the changes from the paper to RFC8312 and from RFC8312 to this document (RFC8312bis) would make sense?

[2020-11-17 06:27] goelvidhi commented on #1
@lisongxu this is exactly what we do for Apple's CUBIC as well.

I am open to adding `origin_point` if there is no objection about additional complexity.

[2020-11-17 06:29] larseggert commented on #1
I'd say let's add it. Anyone know what Windows is doing? Is Praveen on GitHub?

[2020-11-17 06:30] goelvidhi commented on #6
that should we fine too. But there was an issue #5 to define the variables with units. I was thinking to put it all at one place and then remove redundant explanations.

[2020-11-17 06:30] mirjak commented on #10
Actually the main reason why I checked the paper is because it has the pseudo code. I also look at the linux implementation but that's much harder to understand, especially if your implementation doesn't need the same optimisations. Might be also worth discussing in an appendix.

[2020-11-17 06:31] larseggert commented on #6
@goelvidhi I think consolidating it as you suggest (e.g., into a table) is probably best.

[2020-11-17 06:32] sangtaeha commented on #10
@mirjak I agree.

[2020-11-17 07:26] goelvidhi commented on #1
I want to add a clarification point to my previous comment about the below code. We do this only when we enter CA without any loss i.e. when cwnd > ssthresh.

[code]

Note that at the beginning of CA, we should only do the below, as we want to start with W_max and not current value of cwnd. Also, as W_max will be greater than cwnd at the start of CA, the else condition doesn't apply.
[code]

So, I

[2020-11-17 14:04] lisongxu commented on #6
@goelvidhi The unit of all windows should be MSS (or segment), and then the unit of C should be MSS / S^3 ? Thanks

[2020-11-17 14:19] lisongxu commented on #1
There is another important difference between this RFC and Linux TCP in fast recovery. RFC assumes that cwnd is set to W_max * beta_cubic in fast recovery and remains as W_max * beta_cubic at the beginning of a congestion avoidance stage. However, the behavior of Linux TCP in/around fast recovery is complicated, such as adjusting cwnd based on the number of packets in flight, and adjusting cwnd in

[2020-11-17 14:20] lisongxu commented on #1
Yes,  @goelvidhi   you are right that we do this only when cwnd > ssthresh

[2020-11-17 14:31] larseggert commented on #4
@lisongxu the code seems to not compute the TCP and HSTCP columns?

[2020-11-17 14:44] lisongxu opened #14 "Overly aggressive window increase"
Since we are revising this RFC, I guess it is a good time to fix some Cubic bugs reported in [our NSDI 2019 paper](https://www.usenix.org/conference/nsdi19/presentation/sun) .

This RFC sets W_cubic(t + RTT) as the target window size after in the next RTT. However, this targe size may be too high, like even higher than 2 * cwnd (i.e., more aggressive than slow start), in the following special case

[2020-11-17 15:14] lisongxu commented on #4
I made some changes to the code to print out all the columns of Tables 1 and 2.

[code]

[2020-11-17 15:15] lisongxu commented on #10
Thanks, @sangtaeha

[2020-11-17 15:19] lisongxu commented on #1
Thanks, @goelvidhi for confirming Apple's implementation!

[2020-11-17 15:28] #7 closed

[2020-11-17 15:29] larseggert commented on #4
Thanks! I will update the PR tomorrow.

[2020-11-17 16:54] sangtaeha commented on #11
@mohittahiliani In fact, CUBIC is not different from the other CCs (e.g., NewReno/SACK) in dealing with ECN marks (treating as a congestion event). Responding to ECN is always beneficial for loss-based algorithms. Yes, we can add that.

[2020-11-17 17:00] larseggert opened #15 "Acknowledge previous authors/editors"
In the ack section.

[2020-11-17 19:09] sangtaeha commented on #14
@lisongxu Agreed. We also include this change in the list of changes for this new revision.

[2020-11-17 19:28] maolson-msft commented on #2
I can speak for Windows TCP and MsQuic, and this proposal isn't done in either today.

If you just change the slope but not the base of the linear function, then I think you'll see a jump discontinuity in the window. That's a problem for Windows TCP because we don't pace by default. To avoid the jump discontinuity, you could rebase the linear function:

instead of the proposed
W_est(t) = W_max*BET

[2020-11-17 19:49] maolson-msft commented on #1
Rather than patching the K computation, why not set (after applying the fast convergence logic to W_max)
CWnd = BETA * W_max

rather than
CWnd = BETA * CWnd

when we reduce the window? I.e., wrap the fast-convergence reduction into both W_max and the CWnd. That seems more harmonious with the fast convergence algorithm, and at least for me, it's easier to reason about its effect.

[2020-11-18 02:13] lisongxu commented on #1
@maolson-msft Yes, that is another possible design choice. The main reason to update the K equation is to revise the RFC to be consistent with the Linux cubic implementation and the original paper.  Thanks

[2020-11-18 04:27] larseggert opened #16 "Add Injong as co-author"
Welcome @injongrhee! Please prepare a pull request to add yourself to the authors' block and `CODEOWNERS`.

[2020-11-18 05:42] goelvidhi commented on #1
@maolson-msft that would also require updating `ssthresh`, otherwise we will end up in slow start. I think the current approach is fine.

[2020-11-18 06:17] goelvidhi commented on #1
@lisongxu I updated the Eq. 2 with an else condition. Also, added some text for how cwnd can be set. Could you please review https://github.com/NTAP/rfc8312bis/pull/3?

[2020-11-18 06:47] goelvidhi commented on #14
@lisongxu Below is my response for the three cases you mentioned,
1. At least we use SRTT instead of RTT which mitigates the problem somehow
2. For any idle period, we reset the epoch period to 0.
3. Same as 2.

Having said that, your suggestion is a safe option regardless.

[2020-11-18 06:47] goelvidhi commented on #14
@larseggert  I can do this change. Feel free to assign :-)

[2020-11-18 07:38] larseggert opened #17 "Add Vidhi as co-author"
@goelvidhi please prepare a pull request to add yourself to the authors' block and `CODEOWNERS`. Welcome aboard!

[2020-11-18 07:44] goelvidhi commented on #11
This was discussed during IETF 109 tcpm meeting. I think what @mohittahiliani was referring to was to document CWR and PRR as done in Linux on ECN which is probably not the same reaction as 3 dup ACKs.

I am not sure if we want to document this behavior of Linux on ECN signaling.

[2020-11-18 07:52] goelvidhi commented on #17
Thank you @larseggert and all other Authors.

[2020-11-18 08:07] #15 closed

[2020-11-18 08:08] #4 closed

[2020-11-18 08:27] larseggert opened #20 "Replace modelled TCP Reno window approach with AIMD emulation"
Yuchung Cheng [wrote](https://mailarchive.ietf.org/arch/msg/tcpm/KUQtS5nnRA1TaBzF2M2tnmTryGQ):

section 4.2 with an AIMD emulation (Linux's approach).

(Linux) Cubic for any regular Internet connection. IOW Cubic is often
"Reno" unless the loss rate is abysmal. The modelled approach is based
on a simple bulk transfer where modern network applications are mostly
structured traffic (burst, idle, rep

[2020-11-18 08:39] sangtaeha commented on #11
@goelvidhi @mohittahiliani If so, all standard loss-based TCP CCs in Linux will do the same for ECN. PRR is how Linux reduces its cwnd and different platforms could do differently. By the way, CUBIC treats ECN as a loss event and sets W_max upon receiving ECN-Echo, which may be enough?  See below.

[code]

[2020-11-18 09:32] goelvidhi commented on #11
I did point out this text to @mohittahiliani during the tcpm meeting.
I agree that we don't have to document the CWR and PRR for CUBIC specifically.

[2020-11-18 09:37] goelvidhi commented on #2
@maolson-msft
The W_est equation is
W_est(t)= W_max*beta_cubic +
                   [3*(1-beta_cubic)/(1+beta_cubic)] * (t/RTT)

where alpha_aimd = 3*(1-beta_cubic)/(1+beta_cubic)

And the suggestion is to set alpha_aimd to 1 after W_est hit W_max for parity with New Reno.

[2020-11-18 14:24] lisongxu commented on #1
If we do not use variable origin_point, then it is possible that W_cubic(t) may be lower than the current cwnd.  In this case, I would suggest changing Equation (1) as follows, which also contains the bug fix.
[code]

Below is a slightly revised Equation (2)
[code]

[2020-11-18 14:28] lisongxu commented on #14
What I proposed is a simple fix mainly for other implementations. For bug 2, Google already proposed a fix that has been implemented in [Linux](https://github.com/torvalds/linux/blob/master/net/ipv4/tcp_cubic.c#L151) and been adopted into the cubic RFC. (Section 5.8). Thanks

[2020-11-18 14:36] larseggert commented on #1
Why aren't we using origin_point?

[2020-11-18 15:16] tomhenderson commented on #11
I might suggest that Section 4.5 on Multiplicative Decrease include an additional sentence "For both loss and congestion events, the sender MAY employ a fast recovery algorithm to gradually adjust the congestion window to its new reduced value."  I believe that without this, implementers will assume that cwnd must be immediately reduced (also because PRR does not mention any applicability to ECN).

[2020-11-18 19:37] lisongxu commented on #11
Thanks, @tomhenderson. We will add that.

[2020-11-18 19:40] lisongxu commented on #20
I agree, and this is reasonable, as CUBIC is based on time t but AIMD is not.  Thanks

[2020-11-18 19:40] lisongxu commented on #17
Thank you! @goelvidhi

[2020-11-18 21:32] maolson-msft commented on #2
@goelvidhi , setting alpha to 1 reduces the RFC's current equation to W_est(t) = W_max*BETA + t/RTT, which is the equation I wrote. Sorry if that was unclear.

[2020-11-18 23:32] goelvidhi commented on #1
As we initially thought origin_point was needed only when cwnd > ssthresh without loss.

But @lisongxu mentioned, cwnd could become greater than W_max at the start of CA (after a congestion event). I want to understand in what case would it become greater.
1. Using bytes in flight shouldn't set cwnd greater than W_max
2. For any undo, W_max should also be undo'ed.

Anything else?

[2020-11-18 23:38] goelvidhi commented on #1
If I use cwnd_0 (which is beta_cubic * W_max) , then I don't need to else condition, right?

[2020-11-19 00:11] goelvidhi commented on #2
Hmm, I see your point.
I use bytes_acked/cwnd instead of time t/RTT, so don't have the problem as you described. I need to think more about this issue.

[2020-11-19 01:55] lisongxu commented on #1
How about revising Section 4.1 as follows?

CUBIC uses the following window increase function:
[code]
   where C is a constant fixed to determine the aggressiveness of window increase in high BDP networks and is discussed in Section 5, t is the elapsed time from the beginning of the current congestion avoidance stage, and K is the time period that the above function takes to increase the current w

[2020-11-19 02:24] goelvidhi commented on #1
this looks good to me. I will update the PR with some minor text edits.

[2020-11-19 02:25] goelvidhi commented on #5
@lisongxu  @sangtaeha could you please review https://github.com/NTAP/rfc8312bis/pull/12?

[2020-11-19 02:35] goelvidhi commented on #1
Thinking a bit more about it, I think cwnd_0 looks a bit confusing. Also, as we are adding text for special case (if cwnd > W_max),  and later to ensure target is within bounds, I think we should just call it `cwnd` and describe it as you did `where cwnd is the congestion window at the beginning of the current congestion avoidance stage`

[2020-11-19 02:41] lisongxu commented on #5
the unit of C should be MSS / S^3 ? Thanks

[2020-11-19 02:42] lisongxu commented on #1
@goelvidhi fine with me. Thanks.

[2020-11-19 02:57] goelvidhi commented on #5
Is Segment / S^3 ok? (as I am calling the units of cwnd, W_max as segments)

[2020-11-19 03:05] lisongxu commented on #5
Yes, thanks.

[2020-11-19 03:07] goelvidhi commented on #5
done. please review.

[2020-11-19 03:19] goelvidhi commented on #20
I am not sure what's the AI here - do we need to modify Eq. 3?

[2020-11-19 03:48] lisongxu commented on #20
AI is "Additive Increase". That is, Reno increases its cwnd by 1 per RTT.

Eq 3 is fine. But we need to change Eq 4 to update W_est for each ACK, instead of using that t/RTT.

Thanks

[2020-11-19 03:55] goelvidhi commented on #20
In my earlier comment, AI = Action Item.

In Apple's implementation, I use bytes_acked / cwnd per ACK received instead of t/RTT. That ensures after once the entire congestion window is acknowledged, the increase is 1MSS. Does the below look like it:
[code]

[2020-11-19 04:34] lisongxu commented on #20
How about the following?

At the beginning of a congestion avoidance stage,
[code]

On every ACK,
[code]

[2020-11-19 05:50] goelvidhi commented on #20
Yes, that's how an implementation would do it.

With this proposal, I think https://github.com/NTAP/rfc8312bis/issues/2 would be good to address as well. I think when we use segments_acked/cwnd instead of t/RTT, the W_est growth after it reached W_max, should use alpha_aimd = 1.

[2020-11-19 10:41] rscheff opened #21 "Clear definition of "the beginning of the current congestion avoidance stage""
While improving the FreeBSD Cubic implementation, we found that there is ambiguity as to when to define "the beginning of the current congestion avoidance stage". However, for the classical design assumption for TCP with infinite data available to send, the minutae don't matter much.

But in a corner case, let us assume the send buffer allows the transmission of exactly ssthresh bytes. After that,

[2020-11-19 11:02] rscheff commented on #1
While this is a correct statement, there are many more events that signify the beginning of the CA stage than just coming out from slow-start. In the cubic implementaiton in FreeBSD, the recalculation of K was missed in most of these instances (after idle, RTO rewind, loss recovery*, ecn recovery*).

As a note from an implementer, mentioning these other cases that signify the beginning of the cong

[2020-11-19 11:05] rscheff commented on #1
Actually, reading "cwnd" in the formula by itself is more confusing to me, than referecing this by any other name; cwnd is the "current" cwnd on a casual glance; if it is NOT the current cwnd, but some state which has to be kept, use a differnt variable name in the formulas to make this clear (cwnd_0 or cwnd_base would be fine by me).

[2020-11-19 11:28] rscheff commented on #20
FYI: freebsd is following the rtt-based tcp-friendly approach. However, we are not particularly fond of this due to the interaction with app-limited/discontinous data availablilty. Changing this into a bytes_acked/cwnd approach, which removes the RTT during that region, sounds good.

[2020-11-19 14:08] lisongxu commented on #21
Thanks, @rscheff . This is what we are discussing in "[Some bugs to fix #14](https://github.com/NTAP/rfc8312bis/issues/14)".

What Linux does and what the current RFC 8312 specifies is "Section 5.8: CUBIC does not raise its congestion window size if the flow is currently limited by the application instead of the congestion window.  In case of long periods when cwnd has not been updated due  to the

[2020-11-19 14:47] larseggert commented on #21
Closing this, since the discussion is in #14

[2020-11-19 14:47] #21 closed

[2020-11-19 14:47] larseggert commented on #14
Would good to give this issue a more descriptive title.

[2020-11-19 17:02] #5 closed

[2020-11-19 17:02] #6 closed

[2020-11-19 17:47] yuchungcheng commented on #20
I like Lisong's proposal to use Segments_acked or Rscheff's Bytes_acked. We have changed Linux Cubic several years ago to perform well under the prevalent ACK-thining/compression world (notably for cable and wireless networks). Sometimes we get one ACK for more than one hundred segments.

https://www.spinics.net/lists/netdev/msg314082.html

[2020-11-19 19:31] lisongxu commented on #14
@larseggert done

[2020-11-19 19:35] lisongxu commented on #14
@yuchungcheng  Case 2 is already fixed by Google in function [bictcp_cwnd_event](https://github.com/torvalds/linux/blob/master/net/ipv4/tcp_cubic.c#L149). How about case 3? Does bictcp_cwnd_event also fix case 3? Thanks

[2020-11-19 19:37] lisongxu commented on #20
Thanks, @yuchungcheng . Could you please take a look at [issue 14](https://github.com/NTAP/rfc8312bis/issues/14) for a bug that Google fixed?

[2020-11-19 21:17] maolson-msft commented on #2
@goelvidhi , I agree that issue #20 (replacing the equation-based window to an ACK-clocked one), if accepted, will resolve this jump discontinuity problem.

[2020-11-20 02:34] goelvidhi commented on #1
I don't think there is any mention of K being calculated only when cwnd > ssthresh. K is always recalculated whenever there is a congestion event.

'cwnd' is current congestion window in that formula. As @lisongxu noted, `In special cases, if cwnd is greater than W_max, K is set to 0.`, this additional statement will clarify what one needs to do if it is greater than W_max.

[2020-11-20 04:17] goelvidhi commented on #14
@lisongxu  The fix to bound the CUBIC target cwnd is added to https://github.com/NTAP/rfc8312bis/pull/3. Let me know if there is any remaining items for this issue.

[2020-11-20 04:50] yuchungcheng commented on #14
I believe bictcp_cwnd_event does fix case 3, specifically on the comment of
" We were application limited (idle) for a while..."

This commit message has more details:
commit 30927520dbae297182990bb21d08762bcc35ce1d
Author: Eric Dumazet <edumazet@google.com>
Date:   Wed Sep 9 21:55:07 2015 -0700

    tcp_cubic: better follow cubic curve after idle period

    Jana Iyengar found an interesting issu

[2020-11-20 05:13] larseggert commented on #14
Could I ask that we do individual PRs to address individual issues? It sometimes causes a little rebasing effort, but it's much easier to review such PRs compared to ones that contain changes for multiple issues.

[2020-11-20 05:28] lisongxu commented on #14
@yuchungcheng Thanks.

The reason that I am not sure about case 3 is that Cubic still sends out packets just at a low rate limited by application instead of cwnd. If Cubic remains in case 3 for a long time,  cwnd will not be increased for a long time but it is not idle. As a result, I guess bictcp_cwnd_event does not fix case 3, because bictcp_cwnd_event only detects the idle period? Am I missing

[2020-11-20 07:18] goelvidhi commented on #14
Sorry about that but the fix in #3 is incomplete without the bounds on target. Will try to keep them separate as much as possible.

[2020-11-20 07:28] yuchungcheng commented on #14
@lisongxu <https://github.com/lisongxu>  I see your point now -- however it
gets tricky what the right action is.

For example, let's cwnd is 100, and the application keeps using only 99
pkts for 5 minutes w/o experiencing any losses (so it's
"application-limited"), then starts using cwnd fully 1 second after. should
t = 5m or 1s? 1s seems over-conservative afterall cwnd was nearly fully
used all

[2020-11-20 08:48] sangtaeha commented on #1
@goelvidhi @rscheff  Using 'cwnd' looks okay to me, and an implementer can use any variable of her choice to reference or store this value, e.g., 'origin_point' or 'cwnd_0.' Thanks!

[2020-11-20 08:51] goelvidhi commented on #14
@yuchungcheng  Doesn't https://tools.ietf.org/html/rfc7661 solve the different app-limited scenarios?

[2020-11-20 08:59] goelvidhi commented on #1
Thanks @sangtaeha. Could you please review https://github.com/NTAP/rfc8312bis/pull/3? Thanks.

[2020-11-20 11:18] rscheff commented on #1
Sorry, I probably have missed something - K is recalculated at the beginning of a congestion avoidance phase, with the then-current cwnd. What would be the reason to store that value for later use (or why was it referred to as 'cwnd_0' or 'origin_point'? What uses are for that cwnd in the past in some implementations. (Still suffering from virtual jetlag, sorry).

[2020-11-20 14:46] lisongxu commented on #14
@yuchungcheng Thank you!

Yes, we should avoid overly conservative (e.g., 1s in your example) and overly aggressive (e.g., 5m in your example). This is why I am suggesting a simple fix to set the lower bound (cwnd) and the upper bound (2*cwnd) to the target cwnd in the next RTT, and the detailed discussions can be found [in issue #1](https://github.com/NTAP/rfc8312bis/issues/1) . Thanks

[2020-11-20 14:50] lisongxu commented on #14
@goelvidhi Thank you. That (rfc7661) requests a major change to Cubic, and I believe that the basic idea of rfc7661 is consistent with what we have been discussed (i.e., avoiding overly conservative and overly aggressive and being responsive to congestion). Thanks

[2020-11-20 14:55] lisongxu commented on #1
@rscheff Thank you. In normal cases, we do not need to store that value (cwnd_0, or origin_point) for later use.

[2020-11-20 16:19] nealcardwell commented on #14
AFAICT the effect of the proposed fix in #1 would be to bound the rate of increase of the cwnd to at most doubling each round trip time. Is that the intent?

The Linux TCP CUBIC implementation has already always bounded the rate of increase of the cwnd to at most 1.5x per round trip time. Initially it did this implicitly (the logic only allowed cwnd increases on at most every alternate ACK), and t

[2020-11-20 16:28] lisongxu commented on #14
@nealcardwell Yes, you are right that Linux has already implemented the 1.5x upper bound. I am fine to change the upper bound from 2.0x to 1.5x. What is important is to add an upper bound to RFC to make sure that all other implementations also implement something similar. Thanks

[2020-11-20 16:29] nealcardwell commented on #2
Yuchung Cheng and I chatted about this proposed fix above ( https://github.com/NTAP/rfc8312bis/issues/2#issue-742936185 ) and we agreed this looks like a nice and worthwhile fix, which we should be able to integrate
into the Linux TCP CUBIC implementation.

This should address the concern mentioned above from Lars about potential drift between Linux TCP CUBIC and the RFC ( https://github.com/NTAP/

[2020-11-20 21:56] huitema opened #23 "Add handling of spurious retransmissions"
I wrote up a blog last year describing [my experience implementing Cubic for QUIC](https://huitema.wordpress.com/2019/11/11/implementing-cubic-congestion-control-in-quic/). There were three points:

1) Issues with the formula base "Reno compatibility", which is documented in issue #20
2) Sensitivity of Hystart to delay jitter, which is more an issue with Hystart than with Cubic
3) Sensitivity to s

[2020-11-20 22:17] nealcardwell commented on #23
Fixing this would be great, since spurious retransmissions (e.g. from reordering) are so common. FWIW, undoing cwnd reductions is not correctly implemented in Linux TCP CUBIC (only cwnd is reverted, not the epoch parameters), but @yuchungcheng has a patch for this that we should be able to incorporate into Linux.

[2020-11-21 00:06] goelvidhi commented on #23
This is a good suggestion. Hopefully, it will promote any future congestion controllers draft to include this scenario among others, i.e. aim for completeness.

[2020-11-21 03:40] lisongxu commented on #23
Thank you all, yes, I agree that this is a very good suggestion.

What are some common reasons for spurious retransmissions?

@nealcardwell you mentioned packet ordering, do you know why it is common (now)? because of more wireless/cellular networks?

@huitema you mentioned ACK compression in your blog (interesting to read!), could you please explain why ACK compression leads to spurious retransmi

[2020-11-21 03:54] nealcardwell commented on #23
@lisongxu the RACK draft has one perspective on some reasons for reordering: https://tools.ietf.org/html/draft-ietf-tcpm-rack-13#section-2.2

   3.  Packet reordering.  Link-layer protocols (e.g., 802.11 block
       ACK), link bonding, or routers' internal load-balancing (e.g.,
       ECMP) can deliver TCP segments out of order.  ...

[2020-11-21 03:58] huitema commented on #23
I observed that on some wireless connections (WiFi plus fixed LTE), one of the routers on path was bundling short packets together and only sending them when the bundle had attained a sufficient size. (QUIC ACK are short packets, but they are encrypted and the routers cannot tell them from other short packets.) In my case, the packet bundling process caused extra delays, and sometimes the timers w

[2020-11-21 06:08] lisongxu commented on #23
Thank you, Neal and Christian!

[2020-11-21 19:46] mohittahiliani commented on #11
Thank you all for the discussion!

[2020-11-24 09:04] #1 closed

[2020-11-24 09:11] goelvidhi commented on #14
Closed by https://github.com/NTAP/rfc8312bis/pull/3

[2020-11-24 09:11] #14 closed

[2020-11-24 12:02] #20 closed

[2020-11-25 09:43] larseggert commented on #23
Would someone volunteer to craft a PR for this?

[2020-11-25 09:44] larseggert commented on #11
Would someone volunteer to craft a PR for this?

[2020-11-25 09:44] larseggert commented on #10
@sangtaeha would you start a PR for this?

[2020-11-25 09:44] larseggert commented on #2
Would someone volunteer to craft a PR for this?

[2020-11-25 10:20] goelvidhi commented on #2
I can work on this one

[2020-11-25 10:20] goelvidhi commented on #23
I can work on this

[2020-11-25 10:23] goelvidhi commented on #11
I can work on this one

[2020-11-25 20:26] sangtaeha commented on #10
@larseggert Yes, let me get back to you on this.

[2020-12-01 07:17] #2 closed

[2020-12-01 08:19] mwelzl opened #28 "Initialization"
This is tiny and editorial:

Section 4.7 of RFC 8312 talks about how values are initialized after an RTO; it seems obvious that these values would also be used at the very beginning, but this is never explicitly said. It seems obvious that, at this point, W_last_max should be set to W_max, but how to initialize W_last_max is also not explicitly said (unless I missed it).

[2020-12-01 09:21] sangtaeha commented on #10
@mirjak @lisongxu @larseggert There are a few differences between the original paper and RFC8312. The major difference is the first bullet. The second bullet of each version might be trivial and can be removed. Any feedback on the following? After that, I will submit a PR.

## RFC 8312

- It changed the definition of beta_cubic constant and thus updated the pseudocode of CUBIC accordingly. For exa

[2020-12-01 13:55] lisongxu commented on #10
Thanks, @sangtaeha

[2020-12-01 14:20] lisongxu commented on #28
Thanks, @mwelzl. W_last_max should be initialized to 0.

By the way, there is a confusing difference between RFC and Linux code: RFC has two variables, W_last_max and W_max, whereas Linux code has only W_last_max that corresponds to W_max in RFC. This is confusing, so I would recommend removing W_last_max from the RFC, as it is used only in Section 4.6.

How about changing paragraphs 2, 3, 4 of Se

[2020-12-01 14:21] lisongxu commented on #10
There is one more difference: W_last_max in the paper and in the Linux code is called W_max in the RFC. Thanks

[2020-12-01 14:25] mwelzl commented on #28
Oh yes, this is much better! Thanks!

[2020-12-01 18:40] sangtaeha commented on #10
Good point. I add that. Thanks, @lisongxu

[2020-12-01 20:11] goelvidhi commented on #10
I think the paper uses W_max in the text but only uses W_last_max in the code.

Other differences that I see based on the recent changes:
1. K formula has changed in the RFC, to cbrt ((W_max - cwnd)/C) whereas in the paper it is cbrt((W_max * Beta)/C) where Beta = 1-cubic_beta
2. TCP friendly window is called W_est in the RFC whereas it is W_tcp in the paper (subtle difference). Also, we added a n

[2020-12-02 02:18] sangtaeha commented on #10
Thanks, @goelvidhi. Yes, we may have more changes as well. I will incorporate them into the list.

[2020-12-02 06:34] larseggert commented on #10
Should we also discuss the improvements taken from the NSDI paper, and cite that?

[2020-12-02 06:50] sangtaeha commented on #10
@larseggert Yes, we can include those in the list of changes since RFC 8312.

[2020-12-02 06:55] sangtaeha commented on #10
@goelvidhi Yes, the Fast Convergence pseudocode was wrong while the explanation was correct. That was the issue of using w_max and w_last_max in different places. We may not add this issue but we should add the changes in the K formula and TCP friendly region which now emulates TCP throughput using segments or bytes received instead of time t.

[2020-12-02 07:26] goelvidhi commented on #10
Sounds good.

[2020-12-02 07:33] goelvidhi commented on #28
This looks good. One thing to note though, earlier we were saving W_last_max = W_max (before applying fast convergence) and now we won't have that state saved. Instead we would always compare with W_max after fast convergence is applied.

[2020-12-02 11:24] mwelzl commented on #23
I wonder how "reset the epoch parameters to the value of the previous epoch, before the loss" is different from "only initialize the epoch parameters when a CA epoch begins *normally*, i.e. not after a spurious loss event".

In the latter case, the fix could just be a matter of writing:  "If the loss event preceding this CA epoch was not spurious: "  in front of the text describing how some variab

[2020-12-02 14:34] nealcardwell commented on #23
IMHO it is important to do more than add the text "If the loss event preceding this CA epoch was not spurious: ".

The CUBIC implementation will not know at the time of the loss event whether the loss recovery episode was spurious or not. So for the implementation these are necessarily two different events at different times:

 (a) loss event
 (b) subsequent discovery that the loss recovery episod

[2020-12-02 14:39] mwelzl commented on #23
Hm, so maybe "saving" and "restoring" is a kernel implementation specific requirement?

I thought that the "epoch parameters" are things like the cwnd at the time of starting CA and the time when CA begins (to later calculate t), for example. These things can be set exactly when CA begins - and when it does, TCP can (in principle) know how it got there - via a regular termination of, e.g., FR, or

[2020-12-02 15:02] nealcardwell commented on #23
It is not the case that TCP will always know when CA begins whether the preceding loss event was spurious or not. For example, DSACKs for spurious retransmits often arrive one round-trip *after* the loss recovery episode completes and the CA episode begins. So if the loss recovery episode is detected as spurious via DSACKs, then usually the sender does not know at the time CA starts that the loss

[2020-12-02 16:06] mwelzl commented on #23
Ah, sure; I didn't think of that - DSACKs in particular are a good example, thanks.

[2020-12-02 16:24] #17 closed

[2020-12-02 18:16] mwelzl commented on #11
This is not the same thing, but it also fits the topic line: reference [KWAF17] in RFC 8312 is an I-D but it is now RFC 8511, and it's not cited for what it really is about in RFC 8312. RFC 8511 proposes that senders should back off less in response to a CE-mark (note, this is in the world of ECT(0) ) than to a packet loss, because the CE-mark not only indicates congestion - it also indicates the

[2020-12-03 09:29] goelvidhi commented on #11
@mwelzl The mention of [KWAF17] in Section 5.4 is to note the aggressiveness of CUBIC in fast networks leading to more queuing in the network. For the CUBIC draft, I think it would be best to provide a generic recommendation instead of pointing to specific RFCs for congestion window reduction during fast recovery.

[2020-12-03 12:52] larseggert commented on #28
Anyone willing to create a PR for this one?

[2020-12-03 14:39] lisongxu commented on #28
I can help with this one.

[2020-12-04 08:41] #11 closed

[2020-12-09 14:23] lisongxu commented on #23
@nealcardwell Thank you for your comments! We are working on a section for this issue and plan to refer to some possible methods (e.g., using DSACK) to determine whether a loss event was spurious or not. Are you aware of any related documents or RFCs? Thanks

[2020-12-09 14:32] mwelzl commented on #23
I'm not Neal, but still - AFAIK there are three well known methods, which are documented in RFCs: Eifel (RFCs 3522 / 4015, working very well but only if you have timestamps), F-RTO (RFC 5682), working very well and not needing anything extra from the receiver but limited to timeouts, and DSACK (RFC 3708), which is reliable when available, but late.

Various other methods are possible, depending on

[2020-12-09 14:37] lisongxu commented on #23
Hi @yuchungcheng , @nealcardwell  mentioned that you already have a patch to undo the cwnd reduction of Cubic in case of spurious loss events. In this case, do you think it is better to shift epoch_start as Cubic currently [does for application-limited cases](https://github.com/torvalds/linux/blob/master/net/ipv4/tcp_cubic.c#L149) (i.e., exclude the spurious-loss-related period from K)? Otherwise,

[2020-12-09 14:38] lisongxu commented on #23
Thank you so much, @mwelzl ! This is very helpful!

[2020-12-09 15:01] nealcardwell commented on #23
Yes, thanks, @mwelzl. That's a nice summary of all the undo mechanisms I'm aware of (and all the undo mechanisms that I can think of in the Linux TCP stack).

[2020-12-09 15:05] nealcardwell commented on #23
Re "do you think it is better to shift epoch_start as Cubic currently does for application-limited cases", I think it is much better to restore the epoch_start and related variables (epoch_start, last_max_cwnd, cwnd,...) to the values they had before the spurious loss recovery, so that the sender can quickly get back to the cwnd curve it would have had if there had not been a spurious loss recover

[2020-12-09 15:38] lisongxu commented on #23
Thank you, @nealcardwell ! Just to clarify, there are two possible different methods to restore Cubic, depending on whether we restore cwnd or epoch_start. Considering one example, where the original cwnd was 100 and the original epoch_start was 10 seconds just before the spurious loss.

1) restore to the original cwnd just before the spurious loss.  For the above example, we restore cwnd back to

[2020-12-09 15:52] huitema commented on #23
About the "other transports": for QUIC, detection of spurious loss detection is very simple because all packets have monotonically increasing sequence numbers. Spurious loss detection happens as follow:

1) At time t, packet number N is marked as lost by standard loss detection, triggering actions like scheduling retransmission of some of the frames carried by the packet and signalling of a packet

[2020-12-09 15:58] huitema commented on #23
For the correction of spurious losses, what I did in my implementation of QUIC was pretty much what @nealcardwell described: restore the epoch start and the associated variables. Only restoring the CWIN leaves the connection in a "half-way" state between erasing the spurious loss and suffering from it, and that's probably a bad idea.

[2020-12-09 17:46] yuchungcheng commented on #23
Lisong -- my (drafted) patch does #1. diff attached (it was written a few
years ago so may not apply cleanly)

On Wed, Dec 9, 2020 at 7:38 AM Lisong Xu <notifications@github.com> wrote:

[2020-12-09 22:46] nealcardwell commented on #23
@lisongxu, you mentioned: "there are two possible different methods to restore Cubic, depending on whether we restore cwnd or epoch_start". AFAICT it is better to restore both cwnd and epoch_start (to the values they had immediately before the spurious loss detection event). How does that sound?

You also mentioned: "1. restore to the original cwnd just before the spurious loss. For the above exam

[2020-12-10 04:18] lisongxu commented on #23
Thank you all for your comments!

@yuchungcheng  Hi Yuchung, it seems that the diff attachment was blocked somewhere. Could you please directly email it to me at xu@unl.edu? Thank you!

[2020-12-10 05:03] lisongxu commented on #23
@nealcardwell Hi Neal, I can see that my original description is not that clear. Below I try to describe the two methods using two figures.

Method 1: undo cwnd and shift epoch_start so that cwnd continues smoothly from the value it had before the spurious loss.
![cubic](https://user-images.githubusercontent.com/10427041/101723253-86126500-3a71-11eb-84b8-f053775e69e1.jpg)

Method 2:  undo cwnd and

[2020-12-10 07:27] goelvidhi commented on #23
Thanks @lisongxu for the graphical explanation. IMO, method 2 is better as the cwnd grows in a manner that spurious cwnd reduction never occurred.

OTOH method 1 is conservative and might be safer, but I don't understand how can a transport extrapolate the shifted epoch start? From your graph, if spurious loss occurred at X and spurious loss detection occurred at Y (at which point we reduced cwnd

[2020-12-10 07:46] larseggert commented on #28
@lisongxu could you prepare a PR? we'd like to be able to submit a -01 version to the IETF soon and ask for adoption.

[2020-12-10 14:35] nealcardwell commented on #23
Thanks @lisongxu for the very nice graphical explanation. I agree with @goelvidhi  and maintain that restoring both cwnd and epoch start to the value before the spurious loss event occurred would be the best approach.

Keeping in mind the typical long time-scales over which the CUBIC curve evolves (for high-BDP connections for which the CUBIC curve is governing behavior, rather than the Reno emula

[2020-12-10 15:08] lisongxu commented on #23
Thank you all for the constructive discussions. Then let's choose method 2, which should be easier to implement than method 1. In addition, the revised RFC requires that the per-RTT cwnd increment is limited by that [1.5x upper bound](https://github.com/NTAP/rfc8312bis/issues/14), so method 2 should be fine even in special cases where undo happens many RTTs after a spurious loss event.

[2020-12-10 16:22] lisongxu commented on #28
@larseggert done, thanks

[2020-12-14 07:10] #28 closed

[2020-12-14 07:12] #23 closed

[2020-12-16 08:41] #10 closed

[2020-12-17 07:12] #16 closed

[2020-12-17 07:20] larseggert commented on #16
Merged, thanks! @Injongrhee could you please accept the invite to join the repo, so we can assign you reviews, etc.?

[2020-12-17 07:31] sangtaeha commented on #16
@larseggert, @Injongrhee could not find that invitation. Can you send an invite to him again?

[2020-12-17 07:33] larseggert commented on #16
Done. He should have gotten an email and see a notification in GitHub.

[2020-12-22 00:08] martinthomson opened #38 ""TCP-Friendly" is a bit misleading"
Given that a lot of TCP deployments use Cubic, I think that the intent here is to be friendly to Reno instead.  As the text establishes, it is AIMD(1, 0.5) that this wants to be sensitive to.

It might have made sense to talk about TCP when Cubic wasn't widely deployed, but now it is just confusing.

[2020-12-22 06:57] larseggert commented on #38
Agreed. We need to do a larger rewrite of much of the beginning of the document, which was historically correct but is now outdated, given that all stacks default to CUBIC.

[2021-02-02 09:54] larseggert opened #39 "Change introductory text to reflect deployment experience"
The abstract, introduction and other text throughout the document need to be updated to reflect the significantly broader deployment experience CUBIC has seen since RFC8312 was published. At that time, it had been the default for Linux for years, but since then, it's also been the default for Windows and Apple stacks.

[2021-02-03 06:03] lisongxu commented on #39
Thanks, Lars. I can help to revise the text later next week, is it ok?

[2021-02-03 06:04] lisongxu commented on #38
I can also help to revise the text later next week, is it ok? Thanks, Lars

[2021-02-16 03:53] goelvidhi commented on #39
@lisongxu I just wanted to check with you if you'd have time to work on it? :-)

[2021-02-16 04:05] lisongxu commented on #39
Hi Vidhi,

Thanks for checking with me. Really sorry that I am much busier than what I expected due to multiple back to back deadlines. It looks like that I will have some time to work on it next week after Monday (my last deadline this month :-) ).

Thanks
Lisong

________________________________
From: Vidhi Goel <notifications@github.com>
Sent: Monday, February 15, 2021 9:54 PM
To: NTAP/rfc8312b

[2021-02-16 08:50] larseggert commented on #39
Mon, Feb 22 is the cutoff date for i-D submissions for IETF-110. If we're not ready to submit by then, we'll have to wait until mid-March. Which isn't a huge issue, but since we're going to ask for WG adoption, it would be nice to have a more up-to-date I-D to discuss.

[2021-02-17 00:32] lisongxu commented on #39
I see. I will try my best. Thanks
Lisong

________________________________
From: Lars Eggert <notifications@github.com>
Sent: Tuesday, February 16, 2021 2:50 AM
To: NTAP/rfc8312bis <rfc8312bis@noreply.github.com>
Cc: Lisong Xu <xu@unl.edu>; Mention <mention@noreply.github.com>
Subject: Re: [NTAP/rfc8312bis] Change introductory text to reflect deployment experience (#39)

Non-NU Email
_____________

[2021-02-19 09:24] #38 closed

[2021-02-19 09:24] #39 closed

[2021-02-19 10:30] larseggert opened #43 "Adaptive adjustment"
Is this "adaptive adjustment" that is mentioned in the text something that is still planned? Or should we remove this?

[2021-02-19 10:30] larseggert opened #44 ""prior_cwnd" is not defined"
"prior_cwnd" is used in the text but not defined.

[2021-02-19 14:14] lisongxu commented on #43
I am fine with removing it. Thanks

[2021-02-19 14:16] lisongxu commented on #44
all prior_* variables are assigned in Section 4.9 for undo.

[2021-02-19 16:18] larseggert commented on #44
Ah yes!

[2021-02-19 16:18] #44 closed

[2021-02-22 10:17] larseggert commented on #43
Removed as part of #42

[2021-02-22 10:17] #43 closed

[2021-02-22 13:29] larseggert opened #45 "CUBIC for QUIC"
Since most of the new implementations for CUBIC will be in the context of QUIC stacks (as opposed to TCP stacks), it would be useful to add a section or an appendix on how one would do that. For example, it might make sense to describe how CUBIC would be integrated into an implementation that followed the [QUIC -recovery](https://quicwg.org/base-drafts/draft-ietf-quic-recovery.html) draft.

[2021-02-24 02:06] junhochoi opened #46 "In PDF, alpha/beta looks broken"
In a converted PDF, it looks like alpha -> Î± and beta -> Î²

For example,
[code]

looks like following:

<img width="745" alt="Screen Shot 2021-02-23 at 6 02 39 PM" src="https://user-images.githubusercontent.com/1229714/108934304-8a2a3980-7601-11eb-96cb-dc0fa1a7855a.png">

[2021-02-24 02:07] junhochoi commented on #46
others (txt, html) looks fine.

[2021-02-24 02:37] junhochoi commented on #45
quiche provides cubic as a default congestion control: https://github.com/cloudflare/quiche/blob/master/src/recovery/cubic.rs
This is rather a as-is implemetation of RFC8312 and HyStart++ draft. I am working on updating this following changes in this draft, such as https://github.com/cloudflare/quiche/pull/861

For implementor, most things are same, but QUIC defines (and I think most of TCP stack

[2021-02-24 06:43] larseggert commented on #45
Would you be interested in submitting a PR that would summarize these changes? Are there other QUIC stacks that are implementing CUBIC from scratch? I think picoquic did?

[2021-02-24 06:46] larseggert commented on #46
Which PDF are you looking at?

[2021-02-24 07:30] goelvidhi commented on #45
IMO, it is quite straight forward to implement CUBIC using the pseudocode in [QUIC Recovery](https://quicwg.org/base-drafts/draft-ietf-quic-recovery.html) draft and adding the CUBIC pieces to the functions defined in it.

CUBIC draft defines congestion window in segments which most implementors simply convert to bytes by multiplying by MSS.

[2021-02-24 08:05] huitema commented on #45
My notes on implementing Cubic for QUIC are at https://huitema.wordpress.com/2019/11/11/implementing-cubic-congestion-control-in-quic/. I already provided feedback to the "bis" RFC. Yes, porting Cubic to QUIC is fairly straightforward. My main implementation issue was understanding the dimensions of each formula.

Two important points from the bis draft:

1. Forget about the TCP friendly formula.

[2021-02-24 08:16] goelvidhi commented on #45
Thank you @huitema for the issues you had filed earlier. All of these have been addressed.

This is fixed with the new section [Definitions](https://tools.ietf.org/html/draft-eggert-tcpm-rfc8312bis-02#section-4.1)

AIMD friendly formula now is based on RENO - [Section 4.3](https://tools.ietf.org/html/draft-eggert-tcpm-rfc8312bis-02#section-4.3)

IIRC, this was the issue you had filed and we add a

[2021-02-24 08:44] junhochoi commented on #46
I am looking https://tools.ietf.org/pdf/draft-eggert-tcpm-rfc8312bis-02.txt
(wow it's PDF but has .txt extension)

[2021-02-24 09:27] larseggert commented on #46
Thanks, I filed https://trac.tools.ietf.org/tools/ietfdb/ticket/3191

[2021-02-24 19:43] huitema commented on #45
@goelvidhi yes, I appreciate that the issues have been addressed in the new draft. This is good. @larseggert was asking whether there was something specific to say about Cubic for QUIC. The main remaining issue is about translating the windows counts from "packets" to "bytes". When I ported Cubic to QUIC, I spent some time doing that. I first rewrote the Cubic formula:
[code]
In a "neutral" way:
[

[2021-02-25 00:56] junhochoi opened #47 "Question on AIMD-Friendly Region"
Hi, while I am implementing this change in quiche, I want to make sure my understanding is correct on "AIMD-Friendly Region" section.

It says to use
[code]
To calculate W_est value and alpha_aimd initially is

[code]

Since β_{cubic is 0.7 (Section 4.6), it comes down to

[code]

And α_{aimd} will become 1 when W_est >= W_max.

Which means in each ACK, W_est can be calculated as follows:

[code]

[2021-02-25 01:13] junhochoi commented on #45
@huitema re: Spurious Congestion Events. What's your algorithm to detect a spurious retransmissions in QUIC? In the draft DSACK, F-RTO and Eifel is listed but I think none of them is directly applicable to QUIC recovery.

I tried to do similar thing in Reno before motivated by your work: https://github.com/cloudflare/quiche/pull/308
It's still Reno but the idea is same. I used the condition "<end

[2021-02-25 01:49] huitema commented on #45
Picoquic detects spurious retransmission event by keeping a list of packets that were recently retransmitted. The logic is:

1. when the packet is first sent, keep a copy in the list of packets not-yet-acknowledged.
2. when an ACK is received, remove the acked packets from the not-yet-acknowledged list. Mark the frames inside the packet as processed (e.g. stream frames so the corresponding stream

[2021-02-25 08:48] goelvidhi commented on #47
It looks right. In CUBIC, we start with W_est = 0.7 * cwnd (which is higher than new Reno).

The idea of AIMD growth for W_est is to reach the W_max in the same amount of time as New Reno would and as we have a higher starting point for W_est, the growth function is slower than new Reno. And after W_est has reached W_max, we continue with Reno like growth.

Reg. definition of segments_acked, we co

[2021-02-26 02:37] goelvidhi commented on #45
@huitema you arrived at this formula by substitution but I don't see how is it better than
[Figure 1](https://www.ietf.org/archive/id/draft-eggert-tcpm-rfc8312bis-02.html#figure-1).

For folks who use bytes instead of segments for congestion window, they would still need to divide by mss in [Figure 2](https://www.ietf.org/archive/id/draft-eggert-tcpm-rfc8312bis-02.html#figure-2) to compute K.

I t

[2021-02-26 07:54] junhochoi commented on #47
Thanks for a kind explanation!

I have some more question during my implementation:

1) In the draft, W_est is

[code]

However, I think `cwnd` here is `W_est`, to match to Reno definition?

[code]

Otherwise I am confused what is `cwnd` here. In the beginning of CA cwnd is 7, but both using the same value or a current cwnd doesn't make sense to me.

2) assuming I use my equation for W_est, I trie

[2021-02-26 08:18] junhochoi commented on #45
@huitema thanks for how to detect spurious retransmission! I will take a look if this is applicable to quiche.

[2021-02-26 08:18] junhochoi commented on #45
Additionally,
- integer vs floating point arithmetic: most of quic implementaion is userland, easier to use floating point arithmetic for various calculation. But for high performance it'll be better to make it integer ops only.
- I wrote a blog post last year when I implemented cubic in quiche: https://blog.cloudflare.com/cubic-and-hystart-support-in-quiche/
- [quicly](https://github.com/h2o/quic

[2021-02-26 19:19] huitema commented on #45
@goelvidhi I started this rewriting of formulas in an attempt to understand how the coefficients C and β affect the behavior of Cubic. The rewritten formula shows that the key coefficients are really:

* An amplitude coefficient, β. Changing the value of β from for example 3/4th to 7/8th reduces the amplitude of the variations, both before the inflection point and after it.
* A pseudo-period K, wh

[2021-02-27 09:30] goelvidhi commented on #47
cwnd is current congestion window (cubic window or AIMD window, whichever is greater) because we want to increase by alpha_aimd on every RTT and only the current congestion window (not AIMD window) represents one RTT when the full window is ACKed.

[2021-02-27 09:58] goelvidhi commented on #45
Quoting from the draft,

The bandwidth will be shared fairly in the sense that the congestion window will grow similarly but the throughput is still inversely proportional to the RTT.

[2021-02-27 17:21] huitema commented on #45
I understand that each loss event triggers a computation of the formula, and that at equilibrium the average WMAX is a function of packet loss rate. So, yes, in that sense there is fairness. On the other hand, that property is also true for new Reno. There are two problems on New Reno with high latency links: the dependency on loss rate, which limits the size of the window; and the dependency on R

[2021-03-03 08:43] junhochoi commented on #47
@goelvidhi Thanks. I tried `cwnd` (updated my sheet) as well but it doesn't completely solve my concern, this simulated AIMD started bigger than Reno (because beta_cubic(0.7) > 0.5 of Reno) but soon it's slower growth than Reno. If this is true, simply running Reno in parallel and taking max(reno, cubic) in AIMD region would help. However let it closed and I'll look into a little more.

[2021-03-03 11:41] larseggert commented on #47
(I don't think this should have been closed.)

[2021-03-03 17:31] lisongxu commented on #47
Hi Junho,

The AIMD (a, b) analysis considers the steady-state performance with a deterministic loss model
- a deterministic loss model:  a packet is lost every 1/p packet.
- steady state:  cwnd increases and reaches Wmax  just before a packet is lost, and then it repeats the same pattern again and again.

There is a relation between a and b such that AIMD(a,b) achieves the same average cwnd for a

[2021-03-04 03:57] junhochoi commented on #47
@lisongxu Thanks for your kind explanation! Yes now I understand better. Closing this ticket.

[2021-03-04 03:57] #47 closed

[2021-03-06 16:59] lisongxu opened #51 "Fast convergence"
It seems that there is a mistake in Section 4.7

Current draft
[code]

but it should be
[code]

Also I like to make the following change to clearly specify the behavior with fast convergence is disabled

[code]

Thanks!
Lisong

[2021-03-07 06:30] larseggert commented on #51
Submit a PR?

[2021-03-07 14:17] lisongxu commented on #51
yes, I will do it

[2021-03-07 22:51] goelvidhi commented on #45
If by RTT unfairness, you mean throughput inversely proportional to RTT, then yes, that is a design limitation of CUBIC. I am not sure what update you are expecting/suggesting.:-)

[2021-03-08 03:20] huitema commented on #45
Sorry, not expecting any change at this point. I should write all that in a paper.

[2021-03-08 13:50] larseggert commented on #45
So does the current text address all issues raised by @junhochoi and @huitema? If yes, I will close this.

[2021-03-08 16:21] #51 closed

[2021-03-08 16:26] larseggert commented on #45
And FYI, I am planning to submit a new revision before the TCPM meeting, to roll in all the changes since -01. If we need additional changes that are easy to make to address this issue, it would be good to get them in soon.

[2021-03-08 17:00] junhochoi commented on #45
My question is answered in the different ticket so it's ok. I think the goal of this issue is to add some text around QUIC implementation?

[2021-03-08 17:46] goelvidhi commented on #45
As I mentioned earlier, with the current CUBIC draft, it is quite straight forward to adopt it for QUIC by plugging into the pseudo code in QUIC recovery draft. @junhochoi is there anything specific that seemed tricky to implement Cubic for QUIC?

[2021-03-08 22:09] junhochoi commented on #45
@goelvidhi I am still working on updating quiche CUBIC according to this draft. I may find more but I commented most of them in this ticket already.

Also it's one of my comment but again, in "Spurious Congestion Events" section most of algorithms detecting spurious retransmission is not directly applicable in QUIC and QUIC recovery draft doesn't mention about it, so you need to implement your own

[2021-03-09 01:46] goelvidhi commented on #45
Yes, I had discussed this briefly in QUIC WG and I was pointed to the below text. I know that this text doesn't talk about how the congestion controller should react to it but once a spurious loss is detected (some TCP RFCs talk about how to detect it), one can follow the CUBIC Section for Spurious Congestion events.

[2021-03-09 12:48] goelvidhi opened #53 "ssthresh and cwnd_start should not exceed Beta_cubic * congestion window at loss"
Lisong's mentioned this in an off-line discussion,

Below I will use X to refer to (beta * cwnd right before the congestion event).

An implementation of CUBIC can choose different ways to adjust the cwnd during the fast recovery and timeout.

But after the fast recovery/ECN, it should set cwnd (i.e., cwnd_start) and ssthresh to X. This is because all the parameters (such as C, alpha, and beta) of

[2021-03-09 13:43] larseggert commented on #53
I think #54 is supposed to address this? Marking it as such.

[2021-03-10 07:49] WesleyRosenblum commented on #45
One thing I noticed is that if you use min RTT instead of smoothed RTT ([as Linux TCP Cubic does](https://github.com/torvalds/linux/blob/05a59d79793d482f628a31753c671f2e92178a21/net/ipv4/tcp_cubic.c#L266)), you can potentially end up with a divide by zero in the `w_est` calculation. This is because the [QUIC Recovery pseudocode](https://tools.ietf.org/id/draft-ietf-quic-recovery-34.html#name-initi

[2021-03-10 09:51] larseggert commented on #45
@WesleyRosenblum is this something that should be fixed in the QUIC -recovery document? If yes, please file an issue at https://github.com/quicwg/base-drafts/issues

[2021-03-10 19:06] WesleyRosenblum commented on #45
Thanks, I've opened an issue the Quic WG: https://github.com/quicwg/base-drafts/issues/4833

[2021-03-11 03:41] goelvidhi commented on #45
As of now, there is nothing to do here. I am closing this issue.

[2021-03-11 03:41] #45 closed

[2021-03-11 07:54] #53 closed

[2021-03-12 06:50] goelvidhi opened #55 "Update the definition of W_max to include fast convergence scenario"
Copying some suggestions from Lisong here,

change  "wmax: size of cwnd just before cwnd was reduced in the last congestion event".
to  "wmax: size of cwnd just before cwnd was reduced in the last congestion event when fast convergence is disabled"
or  "wmax: cwnd (without fast convergence) or reduced cwnd (with fast convergence) just before cwnd was reduced in the last congestion event" ?

[2021-04-15 00:47] junhochoi opened #57 "linux's cubic fix? (better follow cubic curve after idle period)"
http://bitsup.blogspot.com/2015/09/thanks-google-tcp-team-for-open-source.html
https://github.com/torvalds/linux/commit/30927520dbae297182990bb21d08762bcc35ce1d

Does rfc8312bis need to mention/include about this algorithm?

[2021-04-15 22:00] lisongxu commented on #57
This is discussed in [Section 5.8](https://ntap.github.io/rfc8312bis/draft-ietf-tcpm-rfc8312bis.html#name-behavior-for-application-li). Thanks

[2021-04-15 22:03] junhochoi commented on #57
Indeed. Thanks!

[2021-04-15 22:03] #57 closed

[2021-04-19 11:41] larseggert commented on #55
Do we still want to make this change?

[2021-04-19 11:41] larseggert commented on #46
Closing this, since it's an issue with tools.ietf.org and not this document.

[2021-04-19 11:41] #46 closed

[2021-04-19 13:26] lisongxu commented on #55
Yes, I can make this change in one or two days. Thanks
Lisong

________________________________
From: Lars Eggert ***@***.***>
Sent: Monday, April 19, 2021 6:41 AM
To: NTAP/rfc8312bis ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [NTAP/rfc8312bis] Update the definition of W_max to include fast convergence scenario (#55)

Non-NU Email
________________________________

Do we still want to ma

[2021-04-20 00:49] goelvidhi commented on #55
Thanks Lisong. Will assign the issue to you.
(Sorry I was slow in responding)

[2021-04-20 00:55] lisongxu commented on #55
No problem. Thanks
Lisong

________________________________
From: Vidhi Goel ***@***.***>
Sent: Monday, April 19, 2021 7:49 PM
To: NTAP/rfc8312bis ***@***.***>
Cc: Lisong Xu ***@***.***>; Assign ***@***.***>
Subject: Re: [NTAP/rfc8312bis] Update the definition of W_max to include fast convergence scenario (#55)

Non-NU Email
________________________________

Thanks Lisong. Will assign the issue to

[2021-04-20 00:59] sangtaeha commented on #55
@lisongxu Yes, this is more precise. "wmax: size of cwnd just before cwnd was reduced in the last congestion event when fast convergence is disabled"

[2021-04-20 01:10] lisongxu commented on #55
Thanks Sangtae! Any suggestions on how to clearly describe wmax when fast convergence is enabled?

[2021-04-20 01:57] goelvidhi commented on #55
One suggestion,

[code]

[2021-04-20 02:49] lisongxu commented on #55
Thanks, Vidhi!

[2021-04-20 02:53] lisongxu commented on #55
Just updated. Thanks

[2021-04-21 08:47] #55 closed

[2021-04-27 14:40] larseggert opened #59 "Michael Scharf's review"
[Michael Scharf wrote:](https://mailarchive.ietf.org/arch/msg/tcpm/3Sm4wYQzf_Azakp36sdQY_3r0oM/)

[2021-05-05 18:22] #59 closed

[2021-06-01 09:05] larseggert opened #61 "Mention that CUBIC can be used for SCTP, QUIC, etc.?"
[Yoshi said](https://mailarchive.ietf.org/arch/msg/tcpm/W-t1q8q6Q0Ofjcp0iXOgmY18mr0):

    such as QUIC, SCTP. Do we want to mention it in the draft or is it out of scope?

[2021-06-01 09:06] larseggert opened #62 "Events detected by RACK"
[Yoshi said](https://mailarchive.ietf.org/arch/msg/tcpm/W-t1q8q6Q0Ofjcp0iXOgmY18mr0):

     detected by duplicate ACKs or Explicit Congestion Notification-Echo
     (ECN-Echo, ECE) ACKs [RFC3168], CUBIC remembers the congestion window..."

[2021-06-01 09:11] larseggert opened #63 "'Equation' rather than 'Figure'"
[Yoshi said](https://mailarchive.ietf.org/arch/msg/tcpm/W-t1q8q6Q0Ofjcp0iXOgmY18mr0):

    no strong reason for it.

[2021-06-01 09:11] larseggert opened #64 "Two meanings for a_aimd"
[Yoshi said](https://mailarchive.ietf.org/arch/msg/tcpm/W-t1q8q6Q0Ofjcp0iXOgmY18mr0):

    One is the additive factor for CUBIC and the other is a generic parameter for AIMD() function.
    This looks a bit confusing to me.

[2021-06-01 09:12] larseggert opened #65 "Description for P is required"
[Yoshi said](https://mailarchive.ietf.org/arch/msg/tcpm/W-t1q8q6Q0Ofjcp0iXOgmY18mr0):

[2021-06-01 09:13] larseggert opened #66 "Analysis in [FHP00] doesn't include delayed ACK factor"
[Yoshi said](https://mailarchive.ietf.org/arch/msg/tcpm/W-t1q8q6Q0Ofjcp0iXOgmY18mr0):

   can be a bit aggressive compared to a TCP that doesn't enable ABC and uses delayed ACK.
  This is fine, but I think it might be good to clarify it.

[2021-06-01 09:14] larseggert opened #67 "segments_acked rather than bytes_acked; cwnd in segments"
[Yoshi said](https://mailarchive.ietf.org/arch/msg/tcpm/W-t1q8q6Q0Ofjcp0iXOgmY18mr0):

    How do we calculate when the acks are split?
   Also, I think it should be clarified that cwnd is expressed in segments here in this case.

[2021-06-01 09:15] larseggert opened #68 "Why a_aimd can be set to 1"
[Yoshi said](https://mailarchive.ietf.org/arch/msg/tcpm/W-t1q8q6Q0Ofjcp0iXOgmY18mr0):

   Does this mean b_cubic is also updated? If not, why this can be compatible?

[2021-06-01 09:16] larseggert opened #69 "Overridden by linear growth by AIMD"
[Yoshi said](https://mailarchive.ietf.org/arch/msg/tcpm/W-t1q8q6Q0Ofjcp0iXOgmY18mr0):

   through convex profile, I think it will be overridden by linear growth by AIMD.

[2021-06-01 09:17] larseggert opened #70 "Keeping w_max and reducing only cwnd"
[Yoshi said](https://mailarchive.ietf.org/arch/msg/tcpm/W-t1q8q6Q0Ofjcp0iXOgmY18mr0):

   can exit from convex region earlier than the case where fast convergence is not used.
   It seems to me that keeping w_max and reducing only cwnd (using smaller value than b_cubic)
   look more conservative.

[2021-06-01 09:17] larseggert opened #71 "Results are based on the algorithms"
[Yoshi said](https://mailarchive.ietf.org/arch/msg/tcpm/W-t1q8q6Q0Ofjcp0iXOgmY18mr0):

   described in the draft?  If there're differences, I think it should be described.

[2021-06-03 07:46] goelvidhi commented on #68
This is discussed in https://github.com/NTAP/rfc8312bis/issues/2. Note that we have updated the AIMD friendly formula to make it byte based just like New Reno. We have also removed B_cubic.
<img width="714" alt="Screen Shot 2021-06-03 at 12 44 50 AM" src="https://user-images.githubusercontent.com/10913828/120607311-ebce2100-c404-11eb-8957-0a04008f6d1f.png">

[2021-06-03 08:29] larseggert commented on #68
@nsdyoshi does this address your comment?

[2021-06-03 09:40] goelvidhi commented on #64
Both of these mean the same thing. The additive factor for CUBIC is defined such that the result of AVG_AIMD(alpha_aimd, beta_aimd) for both AIMD like congestion controllers and Cubic is same.

After making that comparison, the draft basically describes what alpha_aimd is equivalent to for Cubic and since it is represented using B_cubic on the right hand side, I don't think there is a need to defi

[2021-06-03 09:46] goelvidhi commented on #63
Whenever some relevant text is followed by an equation, we refer to it as `formula` or `equation`. But if we are referring to an equation in the later text, then we use the term `figure`. This seems consistent with other sections of the draft.

I do like your advice of changing the figure to equation though. So I will try to change it at all places.

[2021-06-03 09:57] goelvidhi commented on #70
Did you mean that it will exit the concave region earlier, and yes that's the intention. The point is to increase the time for this flow to increase its congestion window in order to release bandwidth to any potential new flows. In the below figure, the S curve is due to fast convergence by reducing W_max and you can see that it takes longer to grow congestion window that way as the flow will swit

[2021-06-03 10:05] goelvidhi commented on #69
According to principle 2,

CUBIC uses AIMD friendly equation for small BDPs, which means that it doesn't use the cubic curve in those scenarios.
And AIMD algorithms like New Reno don't scale well in large BDPs.

[2021-06-03 10:09] goelvidhi commented on #67
segments_acked is used throughout the document to match the linux code.

Section 4.1.2 (https://datatracker.ietf.org/doc/html/draft-ietf-tcpm-rfc8312bis-02#section-4.1.2) defines the units for all variables including `cwnd` which is in segments.

I am guessing that this problem has already been solved in linux.

[2021-06-03 10:22] goelvidhi commented on #63
@larseggert the text in the raw file uses the below code which shows as Figure 1. Is there an easy way to change this to Equation 1?

[2021-06-03 10:39] goelvidhi commented on #63
Just saw your reply on the email. In that case, I believe we just need to add a note. Do you want to do that?

[2021-06-03 10:51] larseggert commented on #70
@nsdyoshi does this address your comment?

[2021-06-03 10:52] larseggert commented on #69
@nsdyoshi does this address your comment?

[2021-06-03 10:52] larseggert commented on #67
@nsdyoshi does this address your comment?

[2021-06-03 10:52] larseggert commented on #64
@nsdyoshi does this address your comment?

[2021-06-04 08:15] nsdyoshi commented on #68
Sorry.. it's still not clear to me. I'm wondering the following 2 points.

- It seems to me that W_est has two phases in cwnd increasing. But, I believe this kind of behavior doesn't exist in Reno. I'm not sure why it has to have two phases.
- if setting a_aimd to 1 is compatible with AIMD TCP,  a_aimd = 3 * (1-b_cubic) / (1+b_cubic) is not compatible with AIMD TCP?

[2021-06-04 09:05] nsdyoshi commented on #69
Please let me explain a bit more.

From Section 3.2

   the congestion window less aggressively than AIMD TCP, CUBIC simply
   follows the window size of AIMD TCP to ensure that CUBIC achieves at
   least the same throughput as AIMD TCP in small-BDP networks.

From Section 4.3

   is less than _W_est_. If so, CUBIC is in the AIMD-friendly region and
   _cwnd_ SHOULD be set to _W_est_ at each recep

[2021-06-04 09:15] nsdyoshi commented on #67
Ok. I see the definition in cwnd. I'm sorry, I overlooked.
But, my main question is why segments_acked is used and byte_acked is not used.  I believe we don't need to follow linux code.
Some implementations may want to use byted_acked. Is it allowed? I think it would be better to provide some guidance here.

[2021-06-05 01:43] goelvidhi commented on #67
Yes, implementations can use bytes_acked. Does the below text suffice:

maximum segment size (MSS), and the unit of all times is seconds.

[2021-06-05 01:47] goelvidhi commented on #68
Two phases because after loss, Cubic reduces its congestion window to 0.7x while New Reno reduces it to 0.5x. To have the same increase curve in AIMD friendly region, for Cubic, Alpha_aimd is < 1

This is again the same reasoning. Before the cwnd reaches W_max, Cubic needs to be more conservative so alpha_aimd = 0.529 instead of 1. After we have reached the previous cwnd, i.e. W_max, Cubic can hav

[2021-06-05 04:52] goelvidhi commented on #69
I think you are mixing up two different things.

Section 3.2 is talking about AIMD friendliness in Low BDP networks and that has nothing to do with how convex part of Cubic curve starts with a slow increase. That section is about, in low BDP networks, the max. window size attained by Cubic is generally low and that's why after a loss, AIMD like growth would be higher than cubic curve (even for con

[2021-06-05 10:38] nsdyoshi commented on #69
Hmm. It seems to me that you are explaining Section 4.5 is talking about the right side of the pink line in the figure.
But, I'm not very sure about it. Because at this point, cwnd is already over W_max, there is no need to be careful from my point of view.

In this case, I think the following sentences in the section is not applicable. It doesn't look carefully or very slowly to me.

   that the

[2021-06-05 10:39] nsdyoshi commented on #64
Sorry. my view is a bit different.
In Section 4.1.1, alpha_aimd is defined as a constant, which is around 0.529
OTOH, alpha_aimd in Figure 3 is a variable. You can set arbitrary value to it.

At least, this is confusing to me. But, I'm fine to keep it if all other folks don't think in this way.
I would like to hear other people's thought a bit more.

[2021-06-05 10:39] nsdyoshi commented on #68
Hmm. I'm not sure about it.

In my understanding, alpha_aimd = 0.529 is chosen because AMID(1, 0.5) =AIMD(0.529, 0.7).
If you change it to 1, it will be AIMD(1, 0.7) which is more aggressive than AIMD(1, 0.5)

[2021-06-05 14:27] #63 closed

[2021-06-06 11:29] nsdyoshi commented on #70
I did some comparisons for this. The green line is the w_cubic without fast convergence. The blue line is the w_cubic with fast convergence proposed in the draft. The red line is the one I proposed.

As you can see, the blue line is more conservative when cwnd is closed to w_max while it's a little bit more aggressive than w_cubic without fast convergence when cwnd is very high.
My proposed method

[2021-06-06 11:29] nsdyoshi commented on #67
I think it would be better to mention using bytes_acked is acceptable for implementations explicitly.

BTW, when a segments_acked implementation sent a 1000 byte packet and only 500 bytes were acked, does it use fractions or use some other methods?
Another question is if we count sacked segments into this or not.

[2021-06-07 06:37] larseggert commented on #70
@nsdyoshi ok, so can this issue be closed with no action?

[2021-06-07 07:42] nsdyoshi commented on #70
Yes, I'm fine with it.

[2021-06-07 08:20] #70 closed

[2021-06-08 00:22] goelvidhi commented on #67
If the size of each segment = 1 MSS, then segments_acked = bytes_acked / 1 MSS.

Good question, is that being done for new Reno or other congestion controllers? I looked at a few RFCs and didn't find any mention of using SACK bytes for congestion window. Do you know if any document has guidance on this?

[2021-06-08 02:02] lisongxu commented on #71
@nsdyoshi Thanks, Yoshi. I guess you refer to the tables in Sections 5.1 and 5.2. Yes they are calculated for the algorithm and parameters described in the draft, and the source code to generate these tables is available on the github.

[2021-06-08 02:18] lisongxu commented on #69
@nsdyoshi  Thanks, Yoshi! Your figure is kind of misleading in that both the green curve (W_cubic) and orange line (W_est) pass W_max at the same time. In high-speed networks, the orange line increases very slowly and passes W_max much later than the green curve.  I added a new orange line in your figure to illustrate that.

![120888219-fc6ccb80-c5ab-11eb-8d34-c7603878f57f](https://user-images.git

[2021-06-08 02:23] lisongxu commented on #68
The throughput model of AIMD(alpha, beta) assumes a deterministic loss model where a packet is lost every time when the cwnd reaches w_max.

The "a_aimd can be set to 1" is proposed to clearly describe the behavior of CUBIC when cwnd > w_max.

[2021-06-08 02:27] goelvidhi commented on #69
Section 4.5 talks about this scenario - in high BDP networks, the AIMD growth is very slow and it take a lot of RTTs to recover to W_max. So, cubic curve - concave then convex is used where convex would increase slowly around W_max. Something like this:

<img width="754" alt="Screen Shot 2021-06-07 at 7 26 51 PM" src="https://user-images.githubusercontent.com/10913828/121113123-577a0a80-c7c6-11eb-

[2021-06-08 02:27] lisongxu commented on #66
Thanks, Yoshi. Yes, we can clarify this in the specification.

[2021-06-08 02:28] goelvidhi commented on #69
Ah, I saw Lisong's comment after I posted. But yes, we are both saying the same thing

[2021-06-08 02:31] lisongxu commented on #65
Thanks, Yoshi, for catching it. P is the packet loss rate. We will describe it in the specification. Thanks

[2021-06-08 02:32] goelvidhi commented on #68
I had explained this in the last IETF meeting. Here is the diagram I used. For low BDPs when we use the AIMD friendly equation, alpha_aimd = 0.529 only has meaning until we reach W_max. After that New Reno and Cubic should behave the same.
<img width="939" alt="Screen Shot 2021-06-07 at 7 31 34 PM" src="https://user-images.githubusercontent.com/10913828/121113499-fd2d7980-c7c6-11eb-89a8-a147557c81

[2021-06-08 02:37] goelvidhi commented on #64
@Lars I am not sure if other folks are looking at these issues, what's the best way to get their opinion on this?

[2021-06-08 02:40] lisongxu commented on #64
@nsdyoshi Thanks, Yoshi. I can see that it is kind of confusing. Section 4.3 describes an analysis of an AIMD algorithm with parameters alpha and beta to explain why and how CUBIC determines its alpha value. We thought about introducing two more variables (alpha, and beta) explicitly for CUBIC, which seem more confusing (too many variables).

[2021-06-08 06:34] #61 closed

[2021-06-09 09:41] nsdyoshi commented on #68
OK. I understand the concept. Thank you so much. But, It seems to me the sentence looks a bit confusing.
I am thinking about something like the below, but there might be better descriptions for this.

Note that once _W_est_ reaches _W_max_, that is, _W_est_ >= _W_max_,
 α__aimd_ SHOULD be set to 1 because we don't know what new W_max will be at this point.
This ensures CUBIC to achieve the same co

[2021-06-09 14:19] lisongxu commented on #68
Thank you, Yoshi, for your suggestion!

[2021-06-10 03:45] goelvidhi commented on #64
@nsdyoshi  I have sent this on the list. If no response is received, would you be fine with closing this issue as is?

[2021-06-10 09:26] nsdyoshi commented on #64
@goelvidhi yes, fine with me. But, I think we might want to set a certain deadline and notify people.

[2021-06-10 15:28] #68 closed

[2021-06-12 16:44] chromi commented on #64
I think the explanation would be clearer if the formula for AVG_AIMD was rewritten using **unsuffixed** α and β parameters, α(aimd) and β(aimd) were used exclusively to refer to the Reno parameters, and α(cubic) and β(cubic) used to refer exclusively to the CUBIC parameters.

The process of calculating α(cubic) can then be explained as equalising the values of AVG_AIMD(α(aimd), β(aimd)) and AVG_AI

[2021-06-13 11:15] nsdyoshi commented on #69
Yes, It's true for high BDP network case. But, I was thinking about small BDP network case. It seems to me that Section 4.5 doesn't talk about high BDP cases only. Because, even small BDP network cases will have convex region.

In small BDP case, I think w_est grows lot faster and the beginning of concave region will be overridden by it and convex region will start when cwnd becomes  lots bigger t

[2021-06-13 11:15] nsdyoshi commented on #67
I was wondering the case where the size of segment is not 1 MSS or the case where the size of segment is 1 MSS, but the received ACK covers only part of the segment. It seems to me that this point is a bit ambiguous in the draft.

Right. It's described in RFC6582 and RFC6675.
I've thought about this and I think the explanation of the draft on this point is sufficient.

[2021-06-15 08:50] goelvidhi commented on #64
I have opened a PR where I use alpha and beta for general equation and further derivation of alpha.
Later I use alpha_cubic to refer to Cubic specifically. Feel free to review and provide comments on the PR.

[2021-06-16 06:38] #64 closed

[2021-06-16 07:05] goelvidhi commented on #62
thanks @nsdyoshi. Do you have any specific suggestions in terms of how much should we talk about RACK or should we just add a one-liner?

[2021-06-16 16:14] nsdyoshi commented on #62
one liner works for me, but, I think the following part in Section 4.6 also needs to be updated.

[2021-06-17 07:52] goelvidhi commented on #69
@nsdyoshi I was able to plot the graph you initially posted with some sample values (W_max = 100, cwnd_start = 70, RTT = 75ms).
<img width="711" alt="Screen Shot 2021-06-17 at 12 51 28 AM" src="https://user-images.githubusercontent.com/10913828/122354787-2e642300-cf06-11eb-988e-02f52c307b1c.png">

I will create a PR to add this suggestion.

[2021-06-17 08:45] goelvidhi commented on #67
If I were to use segments_acked as an implementor, I would just do bytes_acked / 1 MSS, whatever may be the size of the segment sent or ACKed. For example if MSS = 1448 and 1000 byte segment was sent and acked, then segments_acked = 1000/1448 and if 500 bytes were acked, then segments_acked = 500/1448.

If OTOH I was using bytes_acked in my implementation, then all one needs to do multiple or divi

[2021-06-18 08:14] nsdyoshi commented on #69
right. but, when I look at the picture you've shown, the concave region starts at the point where cwnd is way bigger than w_max.
In this case, I'm not sure if the following description of the concave region is accurate.
I think it would be good if we can provide more explanations here.

   that the window increases very slowly at the beginning and gradually
   increases its increase rate.

[2021-06-18 08:58] nsdyoshi commented on #67
OK. In this case, I think it would be better to mention segments_acked is float number and can be less than 1.
Also, I think it would be good to provide a guidance for an implementation uses bytes_acked instead of segments_acked.
Something like multiplying segment-based parameters by 1 MSS.

[2021-06-18 20:19] lisongxu commented on #69
Thanks, Yoshi.  That "very slowly" is about the behavior of cubic in the convex region, which is defined in Section 4.2 "The concave region, if CUBIC is not in the AIMD-friendly region and cwnd is less than Wmax."

[2021-06-19 10:00] nsdyoshi commented on #69
Hmm. sorry. I meant convex region.
I quoted the texts from Section 4.5. So, it should describe the behavior of cubic in the convex region.
The 'very careful' and 'very slowly' describes the behavior of cubic well when BDP is large. (as shown in the first figure Vidhi put)
However, I think this description is not very accurate when BDP is small (as shown in the second figure from Vidhi)
That's why

[2021-06-19 14:19] lisongxu commented on #69
Both the 'very careful' and 'very slowly' describe the behavior of the convex/concave regions (that is, the behavior of the blue line).  If the green line is above the blue line, then CUBIC does not enter the convex or concave regions. Hope this helps.

[2021-06-20 08:15] nsdyoshi commented on #69
Hi Lisong,

In my thoughts, convex region starts when cwnd >= w_max and it's not in TCP friendly region. So, I thought the starting point of the convex region is the red dot in the following figure.

![image](https://user-images.githubusercontent.com/73777040/122666467-3ae4b780-d162-11eb-9f5d-48685ecfb58c.png)

But, I am guessing you consider the starting point of the convex region is always cwnd

[2021-06-20 09:24] goelvidhi commented on #69
@nsdyoshi you are right and this is what the draft mentions in Section 4.5

Cubic is in convex region at this red dot even if the convex profile starts at cwnd = W_max.

Perhaps you are concerned about this line and now I fully understand your concern. Although the intro in Section 4.5 says that Cubic starts at red dot, the below line is a bit contradictory as it probably assumes that Cubic will a

[2021-06-20 14:25] lisongxu commented on #69
Hi Yoshi, Finally I see the confusion. Thank you!

Hi Vidhi, "Unless it is not overridden by AIMD window increase, CUBIC is very careful in this region" should be "Unless it is overridden by AIMD window increase, CUBIC is very careful in this region"? Thank you!

[2021-06-21 05:56] nsdyoshi commented on #69
Hi Vidhi,
Thanks for the updates. I think we will need to update it as Lisong suggested, but other than that, it works for me.
Thanks for pointing out, Lisong!

[2021-06-21 21:48] goelvidhi commented on #69
Thanks. Fixed it in #76

[2021-06-22 02:52] goelvidhi commented on #71
@nsdyoshi is there any action item here?

[2021-06-22 07:20] #69 closed

[2021-06-22 08:31] nsdyoshi commented on #71
Oh. sorry. I forgot to reply this one. If there's no difference, it's fine for me.
In my understanding, the CUBIC in the original paper uses b_cubic=0.8. So, if the values in the tables were created when the paper was written, the values might not be very accurate.

[2021-06-22 09:22] goelvidhi commented on #67
ok, please review #77.

[2021-06-22 10:13] larseggert commented on #71
We should probably say that these values are for the current version of CUBIC.

[2021-06-22 13:14] lisongxu commented on #71
Yes, the tables have been updated, and source code to generate the tables is available on github. Thanks

[2021-07-15 09:52] #67 closed

[2021-07-15 11:26] larseggert commented on #71
Propose to close with no action. OK, @nsdyoshi?

[2021-07-15 11:27] larseggert commented on #66
@lisongxu could you create a PR for this?

[2021-07-15 11:27] larseggert commented on #65
@lisongxu could you create a PR for this?

[2021-07-15 11:28] larseggert commented on #62
Could someone create a PR for this?

[2021-07-15 16:11] lisongxu commented on #66
Sure, working on it. Sorry for the delay.
Lisong

________________________________
From: Lars Eggert ***@***.***>
Sent: Thursday, July 15, 2021 6:27 AM
To: NTAP/rfc8312bis ***@***.***>
Cc: Lisong Xu ***@***.***>; Mention ***@***.***>
Subject: Re: [NTAP/rfc8312bis] Analysis in [FHP00] doesn't include delayed ACK factor (#66)

Non-NU Email
________________________________

@lisongxu<https://urldefen

[2021-07-15 16:16] lisongxu commented on #65
Working on it. Thanks
Lisong

________________________________
From: Lars Eggert ***@***.***>
Sent: Thursday, July 15, 2021 6:27 AM
To: NTAP/rfc8312bis ***@***.***>
Cc: Lisong Xu ***@***.***>; Mention ***@***.***>
Subject: Re: [NTAP/rfc8312bis] Description for P is required (#65)

Non-NU Email
________________________________

@lisongxu<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.c

[2021-07-16 08:11] goelvidhi commented on #62
yes, will send something soon.

[2021-07-18 09:35] nsdyoshi commented on #71
I'm fine with no action.

[2021-07-19 07:42] #71 closed

[2021-07-20 07:35] larseggert commented on #62
@goelvidhi could we get this done by the end of the week, so we can post a new draft on Monday?

[2021-07-21 05:39] #65 closed

[2021-07-21 05:39] #66 closed

[2021-07-22 05:22] #62 closed

[2021-08-31 08:01] goelvidhi opened #83 "Lower bound for congestion window for drops or classic ECN"
Markku Kojo said,

The draft modifies RFC 3168 when ECE arrives and would result
  in cwnd < 2 MSS by setting a lower bound of 2 MSS for cwnd (only
  ssthresh is supposed to have a lower bound of 2 MSS).
  This is in conflict with RFC 3168, RFC 5033, and RFC 2914 which
  require "full backoff", that is, a sender must continue decreasing
  sending rate as long as congestion persists. This is a fund

[2021-08-31 08:08] goelvidhi opened #84 "RFC 8311 updates sender's response to CE / ECE"
Markku Kojo said,

  ECE for experimental purposes only. Has there been any discussion
  with tsvwg in that modifying the TCP-response to ECE in CUBIC is
  conflict with RFC 8311 as CUBIC is currently intended to become
  a Standards Track RFC?

[2021-08-31 08:13] goelvidhi opened #85 "RFC 8511 handling of ECE signal (slow start vs congestion avoidance)"
Markku Kojo said,

  the TCP-sender response to ECE. ABE allows modifying multiplicative
  decrease factor only for AIMD TCP and only when ECE arrives in
  congestion avoidance, that is, not when the sender is in slow-start.

  singnal arrives and ends the initial slow start would be
  inconsiderate because it extends the convergence time from
  the slow-start overshoot. ABE has found that using a

[2021-08-31 08:15] goelvidhi opened #86 "Slow-Start Overshoot w/ loss-based congestion conrol"
Markku Kojo said,
The larger decrease factor of 0.7 seems unadviseable also if
  used in the initial slow start with loss based congestion
  control (w/ Not-ECT traffic); packets start getting dropped
  when a TCP sender has increased cwnd in slow start such that
  the available network bandwidth and buffering capacity at the
  bottleneck is filled, but the TCP sender continues sending
  more pack

[2021-08-31 08:19] goelvidhi opened #87 "RACK (and QUIC)"
Markku Kojo said,

  with CUBIC to detect losses. However, it seems to have gone
  unnoticed that RACK may also detect loss of a retransmission in
  which case the congestion control response is required to be taken
  twice, i.e., ssthresh and cwnd must be lowered again (MUST in
  RFC 5681 Sec. 4.3). Once RACK got published all new congestion
  controls and updates to existing RFCs must include th

[2021-08-31 08:21] goelvidhi opened #88 "Fairness to AIMD congestion control"
Markku Kojo said,
The equation on page 12 to derive increase factor α      that
                                                     cubic

  intends to achieve the same average window as AIMD TCP seems to
  have its origins in a preliminary paper that states that the
  authors do not have an explanation to the discrepancy between
  their AIMD model and experimental results, which clearly deviate.

[2021-08-31 08:23] goelvidhi opened #89 "Contribution to buffer bloat and slower convergence due to larger decrease factor"
Markku Kojo said,
This draft uses a larger cwnd decrease factor, resulting in larger
  average cwnd and buffer occupation. This means that it is
  likely to contribute significantly to buffer bloat, particularly
  when considering also the use of concave increase function in the
  beginning of the congestion avoidance that keeps the cwnd close
  to maximum most of the time as carefully explained i

[2021-08-31 08:24] goelvidhi opened #90 "Citing Experimental RFCs as if being a part of CUBIC"
Markku Kojo said,

  start [RFC 3742], [RFC7661] and hybrid slow start [cites a paper].
  Aren't the first three down references? Not sure if it is appropriate
  for a Stds Track document to cite experimental work or a paper like
  this even though it's a MAY.

[2021-08-31 10:48] larseggert opened #91 "Discussion in Sec 5. brings up surprisingly little data"
[Markku Kojo said](https://mailarchive.ietf.org/arch/msg/tcpm/nd4Af8QRQMDkp_R_9ZQMkI4yGAc):

[2021-08-31 10:49] larseggert opened #92 "Sec 5.1"
[Markku Kojo said](https://mailarchive.ietf.org/arch/msg/tcpm/nd4Af8QRQMDkp_R_9ZQMkI4yGAc):

analytical models that give average window size with fixed random loss probabilities and unlimited bandwidth. That is not the same as when flows are combeting in the same congested bottleneck that builds a queue.
Loss probabilities for different flows are likely to be different especially at lower levels o

[2021-08-31 10:49] larseggert opened #93 "Sec 5.3"
[Markku Kojo said](https://mailarchive.ietf.org/arch/msg/tcpm/nd4Af8QRQMDkp_R_9ZQMkI4yGAc):

[2021-08-31 10:50] larseggert opened #94 "Sec 5.4"
[Markku Kojo said](https://mailarchive.ietf.org/arch/msg/tcpm/nd4Af8QRQMDkp_R_9ZQMkI4yGAc):

[2021-08-31 10:50] larseggert opened #95 "Sec 5.5"
[Markku Kojo said](https://mailarchive.ietf.org/arch/msg/tcpm/nd4Af8QRQMDkp_R_9ZQMkI4yGAc):

[2021-08-31 10:51] larseggert opened #96 "Sec 5.6"
[Markku Kojo said](https://mailarchive.ietf.org/arch/msg/tcpm/nd4Af8QRQMDkp_R_9ZQMkI4yGAc):

Summary and citing some performance data would be very useful and much more convincing.

[2021-08-31 10:51] larseggert opened #97 "Sec 5.8"
[Markku Kojo said](https://mailarchive.ietf.org/arch/msg/tcpm/nd4Af8QRQMDkp_R_9ZQMkI4yGAc):

[2021-08-31 10:51] larseggert opened #98 "Sec 5.9"
[Markku Kojo said](https://mailarchive.ietf.org/arch/msg/tcpm/nd4Af8QRQMDkp_R_9ZQMkI4yGAc):

[2021-08-31 10:52] larseggert opened #99 "Section 8"
[Markku Kojo said](https://mailarchive.ietf.org/arch/msg/tcpm/nd4Af8QRQMDkp_R_9ZQMkI4yGAc):

Instead, I think this document should articulate very carefully its role among the congestion control algorithms. How, I am not sure. Maybe simply as an alternative for RFC5681 congestion avoidance and multiplicative decrease.

in direct conflict with a MUST in RFC5681 which says: "however, a TCP MUST NOT

[2021-08-31 10:53] larseggert opened #100 "epoch_start"
[Markku Kojo said](https://mailarchive.ietf.org/arch/msg/tcpm/nd4Af8QRQMDkp_R_9ZQMkI4yGAc):

[2021-08-31 10:53] larseggert opened #101 "(upon receiving) an ACK"
[Markku Kojo said](https://mailarchive.ietf.org/arch/msg/tcpm/nd4Af8QRQMDkp_R_9ZQMkI4yGAc):

[2021-08-31 10:54] larseggert opened #102 "On page 13"
[Markku Kojo said](https://mailarchive.ietf.org/arch/msg/tcpm/nd4Af8QRQMDkp_R_9ZQMkI4yGAc):

   Recovery algorithm to gradually adjust the congestion window to its
   new reduced _ssthresh_ value."

[2021-08-31 12:34] larseggert commented on #90
These references are all **informational**, which means they are not DOWNREFs by definition (see [RFC3967)](https://datatracker.ietf.org/doc/html/rfc3967).

Propose to close with no action. Markku?

[2021-08-31 12:41] larseggert commented on #101
Markku, #103 only fixes the one spot where the text said "Upon receiving an ACK". There are **many* more places where we use "an ACK" - which of those do you think need to be changed?

[2021-08-31 12:46] larseggert commented on #99
The first part is hopefully addressed by #104.

The second part sounds like we would need to formally update 5681, to allow for CUBIC's behavior?

[2021-09-01 07:06] goelvidhi commented on #100
From the draft,

   avoidance stage started.

So, it is when the sender enters the congestion avoidance first.

[2021-09-01 12:09] larseggert commented on #100
Markku, OK to close with no action?

[2021-09-01 14:21] lisongxu commented on #95
@larseggert @goelvidhi Is this one the same as or very similar to [issue #83](https://github.com/NTAP/rfc8312bis/issues/83) ?

[2021-09-02 05:38] goelvidhi commented on #95
Yes. Dup of #83.

[2021-09-02 05:38] #95 closed

[2021-09-06 15:02] larseggert opened #106 "Math is wrong"
[Issue found by Neal.](https://mailarchive.ietf.org/arch/msg/tcpm/ObgshX5PWlM71GtTkzGPrlWYxUI)

[2021-09-07 06:24] #106 closed

[2021-09-08 04:27] goelvidhi commented on #100
@markkukojo, could you please let us know?

[2021-09-14 07:19] goelvidhi commented on #84
@markkukojo CUBIC follows RFC 3168's below requirement,

   of congestion should be treated just as a congestion loss in non-
   ECN-Capable TCP.

Sure, it doesn't half the congestion window but the response to classic ECN is to behave same as loss.
OTOH, RFC 8311 intends to allow experiments that treat CE markings different from loss by free'ing up the ECT(1) IP code-point. As CUBIC treats ECE fl

[2021-09-14 07:31] goelvidhi commented on #89
@markkukojo,
@bbriscoe pointed me to this paper https://www.simula.no/sites/default/files/publications/Simula.simula.618.pdf. If you look at Figure 7, CUBIC has a much lower `queuing delay variation` than New Reno which means that CUBIC has a shallower saw-teeth than New Reno. But as you said, due to higher β (0.7) and concave increase function, CUBIC can reach W_max faster. This means that althou

[2021-09-15 07:52] bbriscoe commented on #84
I agree. The scope of RFC8311 is solely changes to ECN, whereas RFC8312bis changes the response to drop, and consequently also the response to ECN in order to continue to comply with stds track [RFC3168 §5](https://datatracker.ietf.org/doc/html/rfc3168#section-5):

The first sentence gives the normative requirement. The second sentence isn't normative, because later RFC3168 says it assumes the sta

[2021-09-15 08:21] bbriscoe commented on #85
Markku raises a good question about how large the first reduction should be to come out of the flow-startup phase. Most cubic implementations resolve this by using a start-up algo that intends to overshoot by less than 2x, so that a reduction of 30% will usually be sufficient without another round.

[§ 4.10 of the rfc8312bis draft](https://datatracker.ietf.org/doc/html/draft-ietf-tcpm-rfc8312bis#s

[2021-09-15 09:26] bbriscoe commented on #86
[Same response as for Issue #85](https://github.com/NTAP/rfc8312bis/issues/85#issuecomment-919805852).

I suggest #85 and #86 are folded into one issue.

[2021-09-15 09:41] bbriscoe commented on #87
RACK detects a loss whether retransmission or not, and [§3.4 of RACK [RFC8985]](https://datatracker.ietf.org/doc/html/rfc8985#section-3.4) says:

So there surely it's not right to say "all new congestion controls and updates to existing RFCs must include this essential congestion control response." A congestion control that uses RACK surely doesn't need to say anything special about lost retransmi

[2021-09-15 10:21] bbriscoe commented on #89
I would add to Vidhi's comment by explaining that network operators are not expected to 'solve' this issue by setting a lower AQM threshold wherever Cubic is used (which is clearly impractical, but might be how someone awkward could interpret Vidhi's words). Nonetheless, widespread deployment of Cubic (2006+ timeframe) gives more scope for setting AQM thresholds lower for the same utilization. Ind

[2021-09-15 10:26] bbriscoe commented on #89
Regarding slower convergence, the same section could also say that the smaller reduction per round (larger β) means that it takes more rounds to reduce in response to continuing congestion or another flow trying to push in. Nonetheless, convergence speed prior to Cubic was primarily limited by the slow additive increase of Reno, which can be faster once Cubic gets into true Cubic mode.

[2021-09-15 11:26] bbriscoe commented on #94
The discussion under issue #89 is relevant here.

AQMs help to reduce and in some cases remove the standing queue. An AQM target has to allow for different amplitude sawteeth for different RTTs. In true cubic mode, the brief downward excursions mean that utilization is less sensitive to an AQM target that is lower than the amplitude of the whole sawtooth - it only causes minor underutilization. So

[2021-09-15 11:31] bbriscoe commented on #96
See [my comment](https://github.com/NTAP/rfc8312bis/issues/89#issuecomment-919896820) under #89, part of which duplicates this issue.

[2021-09-15 11:34] bbriscoe commented on #97
I agree with Markku, that it would be best to move this 'MUST NOT' out of the discussion section to where it will be noticed by implementers.

[2021-09-15 11:43] bbriscoe commented on #98
I agree with Markku that the claim in the draft seems incorrect. Even with fast convergence, each reduction is a little less than Reno. It just needs to admit the difference, rather than saying there is no difference.

[2021-09-15 14:10] larseggert commented on #98
@bbriscoe @markkukojo: would one of you want to propose a PR?

[2021-09-15 14:11] larseggert commented on #97
@bbriscoe @markkukojo: would one of you want to propose a PR?

[2021-09-15 14:11] larseggert commented on #94
@bbriscoe: would you want to propose a PR that captures your considerations?

[2021-09-15 14:12] larseggert commented on #87
@markkukojo are you OK with the resolution @bbriscoe proposes?

[2021-09-15 14:46] #99 closed

[2021-09-15 14:47] larseggert commented on #100
No word from @markkukojo, closing this. @markkukojo, please reopen if you disagree.

[2021-09-15 14:48] larseggert commented on #90
No word from @markkukojo, closing this. @markkukojo, please reopen if you disagree.

[2021-09-15 14:49] larseggert commented on #84
@markkukojo do you agree to close with no action based on the above?

[2021-09-15 15:11] larseggert opened #108 "AIMD -> Reno"
Based on @bbriscoe's [email](https://mailarchive.ietf.org/arch/msg/tcpm/AYcFztqVPqZHj5s4UNIZmC-uAUI)

[2021-09-15 16:25] goelvidhi commented on #85
Has Hystart++ been adopted (stds track), I thought this was a verbal consensus in last IETF (111).

I can rearrange the order starting with Hystart++, then LSS. As Hystart++ is an update to Hystart paper, I think we should mention it some way - not sure how.
Regarding mentioning 5681, I think there are some implementations that still use it, it doesn't mean that's the right thing to put in a RFC.

[2021-09-15 16:26] markkukojo commented on #101
I didn't pass through all occurrences because this was a generic comment to be precise. So, throughout the document any occurrence of "an/every/each ACK" that is intended to refer only to an ACK that cumulatively acknowledges new data would be good to indicate exactly (to not leave any doubt that the actions must not be taken on arriving dupAcks or window updates).

[2021-09-15 16:54] larseggert commented on #85
https://datatracker.ietf.org/doc/draft-ietf-tcpm-hystartplusplus/ exists and says `Intended status: Standards Track` in the document. But the datatracker doesn't have that reflected (yet).

[2021-09-15 23:29] goelvidhi commented on #87
In addition to what Bob said, a packet loss whether of original packet or of a retransmission - both are considered loss. And as Bob said just mentioning RACK as a method to detect loss should be enough,

[2021-09-16 11:22] markkukojo commented on #90
Right, the references are currently informal but I think the issue is more subtle and how some of the experimental RFCs are now cited puts them into a "grey area" .

Sec 4.10:
In sec 4.10 the draft says "CUBIC MUST employ slow-start" and then continues by allowing  CUBIC to use RFC 3742 or [HR08] as the slow start algorithm for fast and long-distance networks by`using the keyword MAY. So, an imple

[2021-09-16 11:41] larseggert commented on #101
Please take a look at #110. I think I found all the places now, but maybe there are some where the old phrasing was OK?

[2021-09-16 12:00] larseggert commented on #90
Please check #90, which intends to address your first two comments.

About RFC7661, would @gorryfair please chime in?

[2021-09-16 12:37] larseggert commented on #85
Please check #111, which intends to address this issue and #90

[2021-09-16 13:58] larseggert commented on #98
Or @lisongxu, since he self-assigned this issue?

[2021-09-16 13:58] larseggert commented on #97
Or @lisongxu, since he self-assigned this issue?

[2021-09-16 13:59] larseggert commented on #96
@lisongxu, any update?

[2021-09-16 13:59] larseggert commented on #93
@lisongxu, any update?

[2021-09-16 13:59] larseggert commented on #92
@lisongxu, any update?

[2021-09-16 14:00] larseggert commented on #91
@lisongxu, any update?

[2021-09-16 14:00] larseggert commented on #88
@lisongxu, any update?

[2021-09-17 02:43] lisongxu commented on #92
@larseggert sorry for the delay, will catch up soon

[2021-09-20 10:38] markkukojo commented on #102
Mayby I was not clear in my comment. Sure RFC 3782 and  RFC 6675 (and RFC 5681) Fast Recovery algorithms are applicable with CUBIC, but none of these Fast Recovery algorithms "gradually adjust the congestion window to its new reduced ssthresh value."  As the name "Fast Recovery" indicates, these algorithms include loss recovery in addition to the intertwined congestion control actions. And, when E

[2021-09-21 07:25] #101 closed

[2021-09-21 07:49] goelvidhi commented on #90
@markkukojo

Response to spurious events due to Fast retransmits was added newly to 8312-bis draft as it made sense to cover this scenario which is likely more common than spurious RTOs and folks who implemented QUIC noticed a great throughput improvement when implementing this. I agree that this is common to all CCs but at as of today, I don't think any RFC covers it. For completeness, it made se

[2021-09-21 08:21] goelvidhi commented on #90
Regarding RFC 7661, there are two things to consider,
1. Threshold for validated vs non-validated phase - this threshold has been set by 7661 based on slow-start increase and is valid for CUBIC too.

   start is permitted to double its FlightSize from one RTT to the next.
   This motivated the choice of a threshold value of 1/2. This threshold ensures a
    sender does not further increase the cwn

[2021-09-21 08:27] goelvidhi commented on #98
Is it better to just remove congestion from this statement? We already covered congestion events in the rest of the draft.
Suggestion,

[code]

[2021-09-21 08:32] goelvidhi commented on #85
Yes, this is a dup of #90

[2021-09-21 08:35] goelvidhi commented on #85
Leaving this open until the PR #111  gets merged.

[2021-09-21 08:48] larseggert commented on #90
The latter seems easier to me, but I don't have a strong preference. Waiting to hear from @markkukojo and/or @gorryfair.

[2021-09-21 08:52] goelvidhi opened #114 "Use FlightSize instead of cwnd"
@markkukojo said,

"It does not make any changes to the TCP Fast Recovery and Fast
Retransmit algorithms [RFC6582][RFC6675]."

But it does modify RFC6582, RFC 6675, and RFC 5681 Fast Retransmit&Fast Recovery by applying beta_cubic to cwnd, not FlightSize. This is incorrect and would bring back an old design&implementation bug that was corrected more than two decades ago when RFC 2581 was published

[2021-09-21 09:12] goelvidhi commented on #102
For the first part, we can fix it by separating the losses from ECE,
Something like,
[code]
@markkukojo  Is this change enough for your first comment?

I have filed a separate issue #114 for using FlightSize instead of cwnd.

[2021-09-23 12:47] bbriscoe commented on #97
I have proposed changes in a local topic branch, but I don't have permission to push it. Is this what you were expecting me to do?

I've att'd a patch instead, in case it's useful.
[app-limited.patch.txt](https://github.com/NTAP/rfc8312bis/files/7217609/app-limited.patch.txt)

[2021-09-23 14:05] larseggert commented on #97
@bbriscoe you create a PR by pushing your branch to a fork or this repo on GitHub, and then click the PR button.

[2021-09-23 16:56] bbriscoe commented on #89
Any new text about slower convergence obviously ought to mention Cubic's optional fast convergence mechanism.

A good paper that is mostly an evaluation of Cubic's convergence (with fast convergence mechanism enabled) is:
`Leith, D. J.; Shorten, R. N. & McCullagh, G. Experimental evaluation of Cubic-TCP Proc. Int'l Wkshp on Protocols for Future, Large-scale & Diverse Network Transports (PFLDNeT'07

[2021-09-23 18:04] bbriscoe commented on #98
A section on sudden and transient events is meant to discuss
`transient events such as sudden congestion, a routing change, or a mobility event.`
These are all still about congestion (after all its a congestion control algorithm), so it cannot not discuss congestion. The difference here is the suddenness.

I'll post a PR, as Lars suggests, and see what you think. I'll briefly the difference after

[2021-09-23 19:45] bbriscoe commented on #94
No, not really. I've given some pointers above that should help. But I need to draw a line between helping vs turning rfc8312bis into my day job (and now becoming my evening job too).

[2021-09-24 06:23] larseggert commented on #94
Understood. @lisongxu self-assigned this a while ago, so I'll let him do a PR based on your input.

[2021-09-24 09:35] larseggert opened #118 "Acknowledge contributors"
We need to acknowledge the contributors to this bis document.

[2021-09-24 09:38] #98 closed

[2021-09-24 11:34] markkukojo commented on #100
I made this note to myself in the early phase of reading the draft and it looks like that I was not very clear what seemed to be the problem. The definition of epoch_start in its brevity seems fine. However, now I see that it was more of its relation to _cwnd_start_ what confused me and in particular what the draft says in Sec 4.2:
"where _cwnd_start_ is the congestion window at the beginning of t

[2021-09-24 15:08] markkukojo commented on #102
No, I don't think it is. It does not give any algorithm nor advise how to do it, and particularly, how to do it correctly. So, an implementer has no idea based on this text what to do as there is no *Fast Recovery* algorithm in the RFC series that would give a correct algorithm nor is there any reference to such an algorithm.

I'm also still a bit unsure whether my assumption was correct in that t

[2021-09-24 17:09] nealcardwell commented on #114
Applying beta_cubic to cwnd describes correctly what Linux TCP CUBIC does, and IIRC what Windows TCP CUBIC does as well (from discussions with the MS TCP team). The Linux and Windows CUBIC behavior is very much intentional, since reducing cwnd based on FlightSize is not robust; it causes very poor performance in the very common application-limited case.

I would suggest keeping the  text here as-i

[2021-09-24 20:55] goelvidhi commented on #114
@nealcardwell thanks Neal and I agree with you.

@markkukojo do you agree with Neal's comment?

[2021-09-24 21:07] goelvidhi commented on #102
I remember that we used to point to PRR as an option - either we removed it or I am remembering incorrectly. Either way, we intend to tell the implementor that you don't have to directly set cwnd = cwnd * Beta right when you see loss and you can use PRR or 6675 etc to do fast recovery and then at the end of recovery, set cwnd = ssthresh (cwnd * Beta).

We can provide a reference algorithm as a rec

[2021-09-25 07:10] goelvidhi commented on #100
ok, IIUC, this is unrelated to the original issue which talk about proper definition of epoch_start.

I can create a PR to delete this line.

[2021-09-25 08:11] goelvidhi commented on #87
@markkukojo can you check the above comments and let us know if there is still some unresolved?

[2021-09-27 08:24] juhamatk commented on #114
If you leave the formula as it is, you'll need to change the claim: "It does not make any changes to the TCP Fast Recovery and Fast Retransmit algorithms [RFC6582][RFC6675]." to more descriptive of Cubic behaviour, right?

[2021-09-27 09:12] nsdyoshi commented on #114
In my understanding, Equation (4) of RFC 5681 is meant for the cases where rto expire. But, it seems to me these cases don't need to be covered in cubic draft. Or, am I missing something?

[2021-09-27 11:44] markkukojo commented on #87
Thanks for reminding and apologies for replying so slowly.

Unfortunately Bob is very wrong here, or he just misunderstood my comment.

RACK is a pure *loss detection* algorithm and RFC 8985 states it explicitly. So, it does not and cannot provide any congestion control response, i.e., it does not provide any algorithm nor actions to take when a loss of retransmission is detected. Therefore, RFC 8

[2021-09-27 11:53] larseggert commented on #100
Closing this one in favor of #119.

[2021-09-27 11:54] larseggert commented on #100
Sorry, thought #119 was an issue, but's a PR.

[2021-09-27 13:52] #100 closed

[2021-09-27 14:17] nealcardwell commented on #114
Equation (4) of RFC 5681 is meant for RTO cases, but it is also meant for Fast Recovery. See section 3.2, "Fast Retransmit/Fast Recovery":
  https://datatracker.ietf.org/doc/html/rfc5681#section-3.2
which says:
      When the third duplicate ACK is received, a TCP MUST set ssthresh
       to no more than the value given in equation (4)

[2021-09-27 16:39] markkukojo commented on #114
I'll reply to all comments in this.

Yoshi:
Equation (4) in RFC 5681 is used both when RTO expires and when 3rd DupAck arrives: see Sec 3.2, Step 2.
Equation (4) is represented only once in RFC 5681 and together with RTO just because of representational reasons as Slow Start & RTO are discussed first in Sec 3.1 and discussion on Fast Rxmit & Fast Recovery follows later in Sec 3.2.

This is also co

[2021-09-27 18:36] lisongxu commented on #114
Thank you for the discussions on this important issue! I agree that we need to change ""It does not make any changes to the TCP Fast Recovery and Fast Retransmit algorithms [RFC6582][RFC6675]", which is not correct/accurate.

Based on the comments of @markkukojo, it seems that it is safer to update ssthresh using FlightSize.

In addition to how ssthresh is calculated, a related issue is that curre

[2021-09-27 20:16] goelvidhi commented on #87
@markkukojo What Bob and I are trying to say here is that CUBIC provides guidance to packet losses - whether it is for original data packet or retransmission - CUBIC will reduce congestion window in the same way for both events. We are using RACK to detect packet losses and then providing guidance what to do after that.
Please see Section 4.6,

Why do you think it is not as simple as reduce twice?

[2021-09-27 20:21] nealcardwell commented on #114
Linux TCP CUBIC follows PRR and sets cwnd to ssthresh at the end of fast recovery (see tcp_end_cwnd_reduction() where it sets cwnd=ssthresh).

FWIW it sounds good to me to have rfc8312bis document setting   ssthresh using FlightSize, given that this issue is mostly orthogonal to CUBIC (both Reno and CUBIC have the same question about setting ssthresh using FlightSize vs cwnd).

[2021-09-28 07:03] larseggert commented on #114
FWIW, the current editor's copy already updates 5681: https://tools.ietf.org/rfcdiff?url1=https://tools.ietf.org/id/draft-ietf-tcpm-rfc8312bis.txt&url2=https://NTAP.github.io/rfc8312bis/draft-ietf-tcpm-rfc8312bis.txt

So if we need to add other reasons for doing so, that is not an issue.

[2021-09-28 07:24] #108 closed

[2021-09-28 13:10] nealcardwell commented on #114
Personally I think the Reno and CUBIC RFCs  should use:
   ssthresh = beta * cwnd
(This is what Linux TCP has done since 2013).

Or if the receiver window case mentioned by @markkukojo is a big concern, then perhaps something like:
   ssthresh = beta * min(cwnd, rwnd)

But I don't think we need to hold up rfc8312bis if this is a controversial point, since it is somewhat orthogonal to CUBIC.

[2021-09-28 14:55] lisongxu commented on #114
Thanks, @nealcardwell . You are right that Linux Cubic sets cwnds to ssthresh at the end of fast recovery.

Because Reno(RFC5681)/NewReno(RFC6582)/Sack(RFC6675) all set ssthresh using FlightSize, and because Cubic does not intend to modify the fast retransmit and fast recovery algorithms of Reno/NewReno/Sack except the multiplicative decrease parameter, it would be better/consistent for this rfc83

[2021-09-28 15:12] nealcardwell commented on #114
Sounds good to me. Thanks!

[2021-09-28 15:28] lisongxu commented on #92
Thanks, @markkukojo

You are right that the analytical model "gives average window size with fixed random loss probabilities and unlimited bandwidth." This demonstrates to some extent the AIMD friendliness (now referred to as Reno Friendliness in the document).

The original Cubic paper [HRX08] shows the experiment results when Cubic is competing with AIMD/Sack. Figure 10 shows that Cubic is frien

[2021-09-29 08:03] #118 closed

[2021-09-29 08:08] larseggert commented on #90
I'd like to merge #111 soon. Is there anything that needs to be changes in it to address this issue?

[2021-09-29 08:17] markkukojo commented on #90
I'll take a look at it later today.

[2021-09-29 15:37] lisongxu commented on #88
Thanks, Markku! I agree with you that the AIMD model presented in [FHP00] and adopted by Cubic is only an approximate model (e.g., assumption of packet loss). Cubic chooses this model to calculate alpha_cubic, because it is simple and thus easier to implement and captures some basic behaviors of AIMD algorithms. If there are other more accurate and easy-to-implement AIMD models, Cubic should be up

[2021-09-29 16:02] lisongxu commented on #96
Thanks, Markku! How about the following revised paragraphs?

CUBIC ensures convergence of competing CUBIC flows with the same RTT in the same bottleneck links to an equal throughput. When competing flows have different RTT values, their throughput ratio is linearly proportional to the inverse of their RTT ratios. This is true independently of the level of statistical multiplexing on the link. The

[2021-09-29 19:14] markkukojo commented on #85
This logic above seems to assume that a start-up algo (e.g., Hystart++) never fails. That is, it always exits slow start before the first congestion signal (drop or ECE), resulting in no or some number of drops. If a TCP sender still is in slow start when congestion is signalled, it means that the overshoot detection has failed and everything occurred just like without such an algo.
At least in su

[2021-09-29 19:54] nealcardwell commented on #85
Yes, IIRC from discussions years ago with Van, the 0.5 MD in Reno was motivated by the expected 2x overshoot from slow-start.

And I definitely have seen many traces where CUBIC requires two consecutive fast recoveries after slow start to converge cwnd to the available BDP + buffer space, due this issue (two because 0.7^2 = 0.49).

I agree using a 0.5 MD rather than 0.7 after slow start makes sens

[2021-09-29 19:56] nealcardwell commented on #85
cc-ing @ yuchungcheng in case he is interested and has time to weigh in.

[2021-09-29 23:56] yuchungcheng commented on #114
I completely disagree the compromise to use FlightSize.

Using FlightSize has the detrimental performance effect when losses are encountered in application-limited case, which is prevalent in today's structured Internet application traffic. Consider a simple case where the application bursts and a drop occurs toward the end of the burst. At that time FlightSize is likely very small. Cubic is reduc

[2021-09-30 01:41] markkukojo commented on #90
Let me try again. There are several reasons why the existence of the current text is problematic:
1) Spurious rexmits are not part of CUBIC nor specific to CUBIC. I think this draft should focus on CUBIC and not include various features present in Linux or any other stack, no matter how useful they are particularly when the problem space is orthogonal to CUBIC.  UNDO of congestion control state wa

[2021-09-30 02:03] markkukojo commented on #90
Has this been implemented for CUBIC and experimented with so we know it works properly? And do we have data to show this is the case?

In other words, would this be mature enough to become Stds Track and just for CUBIC, while RFC 7661 is experimental and the problem space once again is not specific to CUBIC but common for all CCs?

Anyway, I'd like to hear from those who have worked with RFC 7661

[2021-09-30 23:42] goelvidhi commented on #90
@huitema @nealcardwell In this issue #23, we discussed and added a new section for Spurious detection and response for CUBIC but @markkukojo doesn't think we should do that due to any adverse effects of reverting to old_cwnd in case there is route change that has much lower capacity than old_cwnd state.

Do you think citing RFC 4015 for spurious RTOs is enough? This would mean we wouldn't provide

[2021-10-01 02:26] huitema commented on #90
It has been experimented -- was the default option for using cubic in picoquic, before switching the default to BBR. No negative feedback. There were also extensive simulations done by the MS Quic team, as part of their systematic unit tests. We should ask them, but I believe these simulations are based on scenarios they have encountered in real deployments. Implementing spurious loss recovery in

[2021-10-01 06:36] goelvidhi commented on #114
@yuchungcheng thank you for chiming in. We have been going back and forth about using `cwnd` vs `flight size` for ssthresh and therefore cwnd (at the end of recovery). There are two alternatives from this discussion:
1. Continue to use `cwnd` and then update the text with,
`Cubic updates the fast retransmit and fast recovery algorithms of Reno/NewReno/Sack to use cwnd to do multiplicative decrease

[2021-10-01 06:38] larseggert commented on #114
Which option do the major stacks use? IMO that is what the spec should recommend. We can discuss the implications of that choice and mention the other alternative, too.

[2021-10-01 06:49] goelvidhi commented on #114
I don't know if this is the right question, I think for a stds RFC, a more important question is which option should the stacks use? Because the current implementations optimize for better throughput and that may or mayn't be the right recommendation.

[2021-10-01 07:39] larseggert commented on #114
In my mind, a main reason for doing 8312 and now 812bis was to describe what the currently deployed CUBIC looks like, because the versions described in the papers and used in various simulators were really different.

I'd therefore really like to describe what variant of CUBIC is currently deployed - it seems to work well enough with few enough downsides, right? If that is the case, why would we w

[2021-10-01 14:48] bbriscoe commented on #85
Need to be careful about mission-creep here.
If we start adding untried stuff, we shouldn't move that to stds track.

Having said that, how to make the reduction match the overshoot is an open question, and we can't get away from the fact that this is an important part of a CC algo.

This is why I said it's good enough to reduce by roughly the average overshoot of the start-up algo, rather than ai

[2021-10-01 15:51] nealcardwell commented on #114
] Which option do the major stacks use?

Linux TCP CUBIC calculates ssthresh based on cwnd. Not sure about the other major stacks.

I agree with Lars that it's far preferable to describe the CUBIC behavior that is currently deployed. Hopefully MS/Apple/Linux stacks agree on this point and we can have the RFC match that.

I support something like Vidhi's option number 1 above ("Continue to use cwnd

[2021-10-01 16:11] nealcardwell commented on #90
I would strongly urge the draft to keep the "Spurious Congestion Events" section, since reordering and spurious retransmits are common and getting more common, so undo of CC reductions is critical and becoming more so.

In the scenario mentioned that has a route change that causes a reordering event and reduction in available bandwidth, it's still fine to undo based on detecting the spurious retra

[2021-10-01 20:27] yuchungcheng commented on #114
+1 what Neal and Lars said and option 1. Adding Parveen from Microsoft to
help answer Lars' question on major Cubic implementation.

Vidhi: I agree that it is more important to publish an RFC based on what
"should" TCP do, not just what "are" TCP stack doing. But that's the exact
rationale we used to change Linux to use cwnd instead of inflight. What we
had observed with FlightSize is that loss us

[2021-10-01 21:03] pravb commented on #114
Both Windows TCP and MsQuic apply beta_cubic to cwnd and not FlightSize. We have had intense internal debates on this but we are erring towards higher performance in app limited cases. We also had briefly default enabled restarting cwnd upon idle for datacenter connections but had to revert due to application regressions.

Additionally, Windows TCP limits cwnd growth to not exceed the largest rece

[2021-10-01 21:11] pravb commented on #114
I too think Option 1 is better and add justification for deviation from prior standards track RFCs.

[2021-10-01 23:04] goelvidhi commented on #114
Apple's stack implements RFC 7661 and applies beta_cubic to `Max(pipeACK, LossFlightSize)` which is option 2.

I am happy to recommend option 1 considering the widespread deployment of Linux on the servers but I am sure there are some folks who will object that. Hoping to hear from them soon.

[2021-10-01 23:25] goelvidhi commented on #114
I want to note that using FlightSize is good for persistent congestion (as we would be acting quickly to reduce sending rate based on congestion experienced on bytes in the network),
whereas,
Using CWND is good for transient congestion and drops unrelated to congestion, because we might recover without significantly reducing congestion window based on bytes in the network and instead continue to u

[2021-10-02 00:18] yuchungcheng commented on #114
Vidhi: very interesting to hear Apple's approach which uses max(PipeAck,
LossFlightSize)

While it's not clear how exactly PipeACK is computed, I believe RFC7661 is
trying to mitigate the problem I raised. I would argue that Apple's
approach is much closer to option 1 than option 2. In my previous email's
toy example, pipeACK would actually be around 100 instead of 10 because
PipeACK is recording

[2021-10-02 05:43] larseggert commented on #90
If we want to say "MUST implement" for something that is not on the standards track, maybe that's a reason to republish that document as a PS. Which documents specifically would this be the case for?

[2021-10-02 07:44] #97 closed

[2021-10-02 08:13] goelvidhi commented on #90
I was wondering why is Eifel detection (RFC 3522) experimental while the response on detection (RFC 4015) a stds track.
F-RTO is stds track detection of spurious RTO which does not require timestamps to be enabled (unlike RFC 3522)

Should we say,
`MUST implement F-RTO detection and RFC 4015 response algorithm? MAY implement other algorithms for detection, i.e. RFC 3522 and RFC 3708`

[2021-10-04 06:25] larseggert commented on #90
IIRC, RFC3522 has an IPR disclosure that makes it difficult to implement in open source or otherwise. RFC4015 has no such IPR. The community at the time felt strongly that the IPR meant RFC3522 shouldn't be standards track. Pasi developed F-RTO in part because of the IPR in RFC3522.

[2021-10-04 06:47] huitema commented on #90
Note that as far as QUIC is concerned, detecting spurious RTO is completely straightforward. QUIC packets have unique numbers, any data that need to be repeated is carried in new packets, with numbers different from the initial transmission. The sender just has to record an ack of a packet that was considered lost, there is no requirement to implement F-RTO or other algorithms.

[2021-10-11 01:25] markkukojo commented on #114
Thanks for the data point.

@stewrtrs  does this mean that FreeBSD/NewReno does not anymore have any safeguards preventing cwnd from increasing to an arbitrarily high value beyond rwnd or above actually used capacity (FlightSize)?
AFAIK at least safeguards to not increase cwnd beyond rwnd were earlier implemented around the time when RFC 5681 was published. Note also that I pointed to RFC 2861 for

[2021-10-11 07:25] larseggert commented on #96
@markkukojo, please comment on the above?

[2021-10-11 07:25] larseggert commented on #93
@lisongxu ping

[2021-10-11 07:26] larseggert commented on #91
@lisongxu ping

[2021-10-11 07:28] larseggert commented on #90
Heads up: I plan to merge #111 soon, unless I hear objections. If you do object, please make a concrete rephrasing proposal (on the PR).

[2021-10-11 07:31] larseggert commented on #84
@markkukojo ping?

[2021-10-12 02:48] lisongxu commented on #89
Thanks, @larseggert . I will

[2021-10-12 02:48] lisongxu commented on #94
Yes. Thanks, @larseggert

[2021-10-12 02:49] lisongxu commented on #88
Close with no action. Thanks

[2021-10-12 20:49] goelvidhi commented on #114
Adding Markku's comment about relocating RFC 7661 when we do a PR for this.
https://github.com/NTAP/rfc8312bis/pull/122#discussion_r727487563

[2021-10-13 06:28] #102 closed

[2021-10-14 19:16] markkukojo commented on #90
Please note that RFC 4015 is a stds track *response* algorithm for spurious RTOs. The question was why the advise in RFC 4015 is wrong and why this draft would need to modify it as the current text does and thereby maybe requires to update RFC 4015, instead of pointing to RFC 4015 as the response algo for spurious RTOs and just giving the extra state that needs to be stored/restored?

[2021-10-14 19:46] larseggert commented on #87
@markkukojo thanks for the context. Could we scope this back to 8312bis and decide whether concrete changes are needed or not?

[2021-10-15 00:06] markkukojo commented on #114
My bad to be inaccurate. It should have read:
 "easily results in behaviour where a rwnd or application-limited TCP sender does not react to
  a congestion event or a significant number of consecutive congestion events"

Sure the cwnd will at some point converge down. Otherwise it would result in congestion collapse which is not the issue here. The issue is negative impact to other flows and being

[2021-10-15 04:49] mattmathis commented on #114
No this is a different bug.  Don't raise cwnd unless flight size has reached cwnd at least once sometime since the last cwnd increment, so that you know that the path can actually deliver a cwnd sized window.   Then a multiplicative cwnd reduction does the right thing, even if it happens while inflight is tiny.   The case that you mention is not a problem: not only are there no reductions, there a

[2021-10-15 06:48] larseggert commented on #90
...

@markkukojo, so that entire paragraph should look like the following?
[code]

IIRC one pragmatic reason is that there is no other standards-track mechanism.

This sounds like you are arguing that text should be taken out of the document - which bits?

Again, this sounds like you are arguing that text should be taken out of the document - which bits?

First, I thought spurious RTOs and fals RT

[2021-10-15 06:52] larseggert commented on #94
@markkukojo, please review #123. I would like to close this issue.

[2021-10-15 06:56] larseggert commented on #85
Please review #111 and make suggestions there if you all believe anything more needs to be said in the document about any of this. I'd like to close this issue soon.

[2021-10-15 11:20] gorryfair commented on #114
RFC 5681 was clear:  ssthresh MUST be set to no more than the value given in equation (4):
      ssthresh = max (FlightSize / 2, 2*SMSS)

RFC 2581 is obsolete. RFC7661 provides some rationale and some limits to how a flow might use cwnd here.

Since this is proposed as PS, the present text in this ID certainly appears to make a substantive change to the RFC series, and I think it does not yet prov

[2021-10-16 06:17] goelvidhi commented on #84
The second statement is a bit of a contradiction of the first. If we can't believe the long deployment experience of CUBIC for ECN, then how can we believe RFC 8511's findings about large MD factor during CA.

[2021-10-16 06:55] sangtaeha commented on #91
@larseggert @lisongxu We have maintained a website for more than 10 years (2005 - 2016) showing the performance of CUBIC over many different networks. That site is gone now. I will try to find a comprehensive measurement study instead.

[2021-10-16 07:09] sangtaeha commented on #91
@lisongxu We have a COMNET paper that evaluates CUBIC along with the other protocols w/ and w/o background traffic. Our INFOCOM convex ordering paper shows evidence of its stability.  Another COMNET paper "Taming the elephant.." also has real-world results as well. Adding a few experimental study papers after that may be enough.

[2021-10-17 21:58] lisongxu commented on #93
@markkukojo, sorry for the late response. This section/sentence ""CUBIC is designed to remedy the poor performance of Reno in fast and long-distance network" is actually a summary of this document itself.

@larseggert I would suggest closing this issue without any action.

Thanks

[2021-10-17 22:05] lisongxu commented on #89
@larseggert This issue overlaps mainly with two other issues. The buffer bloat part overlaps with issue #94, and the convergence part overlaps with issue #96.

[2021-10-17 22:09] lisongxu commented on #96
Thanks, @markkukojo. We will add some citations related to the convergence of cubic.

[2021-10-18 14:03] nealcardwell commented on #90
That's a separate problem. Restart from idle does that as well. TCP implementations should use pacing to solve this problem of blasting full cwnds. Pacing is the only complete and general solution to blasting full cwnds, and it's orthogonal to CUBIC.

That's an orthogonal loss recovery issue, and belongs in a separate document focused on loss recovery. For example, the RACK RFC covers this kind of

[2021-10-19 08:09] larseggert commented on #90
If we do this (1) would this address @markkukojo's issues and (2) would we need to cite RFC4015 and say something about it?

[2021-10-19 08:25] goelvidhi commented on #90
No, I don't think we need to cite anything. Folks who would want to implement Eifel response would follow RFC 4015

[2021-10-19 09:04] larseggert commented on #90
We added that section in response to #23, and there was quite a bit of discussion and support for it. It seems odd to go back on this now?

[2021-10-19 10:20] markkukojo commented on #94
I'll try to review and answer this and the other pending issues ASAP. Unfortunately, I have very limited cycles for this right now so my apologies for the delay. After this week I hopefully could allocate more cycles.

[2021-10-19 17:58] larseggert commented on #114
Would a way forward be to use @gorryfair's phrasing but add a comment that Linux (and other stacks? which?) update based on cwnd?

[2021-11-01 09:46] larseggert commented on #96
@lisongxu could we get a PR for this, please?

[2021-11-01 09:47] larseggert commented on #92
No response from @markkukojo in three weeks, closing.

[2021-11-01 09:47] #92 closed

[2021-11-01 09:47] larseggert commented on #91
@lisongxu/@sangtaeha  could we get a PR for this, please?

[2021-11-01 09:48] larseggert commented on #87
@markkukojo do you agree with closing? If not, what **concrete** text changes would you like to propose?

[2021-11-01 09:49] larseggert commented on #84
No answer from @markkukojo, closing.

[2021-11-01 09:49] #84 closed

[2021-11-01 16:09] lisongxu commented on #96
Thanks, Bob! @bbriscoe That paper evaluated an earlier version of Cubic. The latest Cubic (since around 2008) has removed the window clamping for both the concave and convex regions, and thus improved the convergence for high BDP networks.

[2021-11-02 16:03] gorryfair opened #132 "Suggestion to avoid long discussion on RFC7661 and cwnd v flight_size"
I have made a PR is intended to amend the text to align with my understanding of the RFC-series. This normatively  would require ssthresh to be set from flight_size; however, this is explicitly relaxed in RFC7661, so I suggest wording should be careful around this topic.

[2021-11-03 11:43] #96 closed

[2021-11-03 13:38] lisongxu commented on #91
@larseggert I will get a PR this weekend. Thanks

[2021-11-04 09:08] nsdyoshi commented on #87
+1 for Vidhi. It seems to me that we will need recovery algorithm for RACK with TCP which is outside of this draft.

[2021-11-09 06:15] #91 closed

[2021-11-11 08:08] #132 closed

[2021-11-11 09:00] markkukojo commented on #90
My sincere apologies again not being able to respond earlier (unfortunate force major for me).

About slow start start text in Sec 4.10:

I've already suggested text to replace the current one and explained the rationale.
I try to repeat briefly. The current text is impossible; CUBIC or any other CC cannot replace RFC 5681 slow start by HyStart++ in general because HyStart++ is applicable to initi

[2021-11-11 10:39] markkukojo commented on #90
About spurious retransmissions and response to such events (Sec 4.9):

I agree with Vidhi that the issues and the response to spurious rexmits is not that trivial. I also agree with Neal that the issues related to response I listed belong to another document.

However, Neal suggests for some reason that those issues are loss recovery issues which sounds very weird to me. We are discussing spurious

[2021-11-11 12:01] markkukojo commented on #85
First, while this is a valid sentence it is not very useful for a standards track document because it does not provide actual specification nor a concrete advise. It might be ok for an experimental RFC but for a standards track RFC we must know better how to implement this. I think it would be very difficult for a random implementer to understand what to do based on this sentence?

But then to the

[2021-11-12 07:07] goelvidhi commented on #90
@markkukojo I presented your objections on this topic at the TCPM IETF meeting today (still Nov 11th in PST) and I see two problems that are a bit tricky to solve.

1. The response described in RFC 4015 for setting cwnd is very conservative. It sets cwnd to flight size + min(IW, bytes_acked), which could be very low if the spurious detection happens at the tail of the window.
2. Spurious RTOs are

[2021-11-12 16:18] lisongxu commented on #85
Another way to explain why MD is set to 0.7 is similar to a binary search for target = available BDP + buffer space.

Consider the following example,

RTT n:           cwnd = x,   no packet loss for those packets
RTT n+1:      cwnd = 2*x,  packet loss
Therefore, the target should be between x and 2*x.

By setting MD=0.7,  Cubic searches for the target starting from the middle point, that is approx

[2021-11-12 19:00] nealcardwell commented on #90
@goelvidhi

This sounds good to me. Thanks, Vidhi!

@markkukojo said:

As I noted,I'm referring to several different detection mechanisms:
"(FRTO, DSACKs, Eifel TS-based undo)". :-)

If we're going to stop work based on lying receivers, this is going to hold
up all TCP congestion control and loss recovery work unreasonably. As
has been clear since at least 1999 ("TCP Congestion Control with a
Misb

[2021-11-22 01:42] markkukojo commented on #85
Thanks @lisongxu for your reply.

Just to be sure that the terminology I used is clear: I called this (actual) available  (buffering) capacity, i.e., where BDP  = base_e2e_RTT * bottleneck bit-rate, meaning that any buffer at bottleneck adds to the pure network buffering capacity. In other words, available buffering capacity equals to the max cwnd that a flow may have at the tip of the *normal* co

[2021-11-23 08:07] larseggert opened #135 "W_max"
From @markkukojo in #85:

If CUBIC sets W_max to size of cwnd just before cwnd was reduced when in slow start alike when in CA, it results not only starting the first CA epoch after fast recovery with an overaggressive cwnd (using MD=0.7) above the actual saturation point but also starting the subsequent CA with the concave phase and continuing with the concave phase until cwnd reaches value that

[2021-12-13 16:24] larseggert commented on #90
Could we drive this issue to closure, please?

[2021-12-13 16:24] #87 closed

[2021-12-13 16:24] larseggert commented on #135
Any takers for this one?

[2021-12-13 21:51] nsdyoshi commented on #135
I think this is an interesting discussion point. My tentative thoughts on this are:
* if hystart++ is used, the chances to get losses during slowstart will be reduced
* if a certain pacing is used, the burstness in the first CA epoch is reduced which might help finding saturation point without large losses
* using MD=0.5 upon the loss after SS may be one idea especially when the options above are

[2021-12-14 06:08] lisongxu commented on #135
I will work on this issue. Thanks

[2021-12-14 07:02] goelvidhi commented on #90
I will send out a PR in a day or two.

[2021-12-21 21:16] lisongxu commented on #135
Quick update: still working on it, try to find a reasonable solution for both #135 and #85.  Thanks

[2022-01-15 00:33] maolson-msft opened #137 ""Application-Limited" seems ambiguous"
It seems like usually "app-limited" refers only to the local app, but if the peer's receive window limits the connection's send rate then we have the same problem where CWnd can grow arbitrarily. So, is "app-limited" supposed to also refer to the peer's receive window? If so, then this should probably be spelled out.

[2022-01-15 01:50] lisongxu commented on #135
Update:

Thank you all, @markkukojo  @nsdyoshi, for your comments and suggestions!

We agree that both MD and Wmax may be adjusted differently for slow start and congestion avoidance. As this could be a major change to CUBIC, we (thanks, @sangtaeha) plan to comprehensively test and evaluate this change in various network environments, which will take some time.

[2022-01-17 06:55] larseggert commented on #135
I will hence close this.

[2022-01-17 06:56] #135 closed

[2022-01-18 09:21] goelvidhi commented on #137
Thank you @maolson-msft for raising the issue. RFC 7661 defines app limited as,

   "application-limited period" for the time when the sender sends less
   than is allowed by the congestion or receiver windows.

There is a reference to RFC 7661 when we talk about rate-limited applications. Is that enough?

[2022-01-18 14:38] nealcardwell commented on #137
Good point, Matt. I think we should clarify this explicitly:
         https://github.com/NTAP/rfc8312bis/pull/139

As I noted in the pull request commit message:

We should particularly clarify this because the text on this topic
in 7661 is buggy, when it says:

]   "application-limited period" for the time when the sender sends less
]   than is allowed by the congestion or receiver windows.

This

[2022-01-19 00:14] maolson-msft commented on #137
Thanks Neal!

I think a few more details about the actual process for classifying whether the connection is "limited" might also be called for here. This is a pretty tricky part of the algorithm to implement without any hints. For example, I was thinking about the possibility of using the expression (InFlight < CWnd) as the classifier. This would correctly handle both the case where the app is pos

[2022-01-19 00:30] maolson-msft commented on #137
"[viz pacing] we surely don't want to turn off CWnd growth for that case"- actually thinking more about it, I'm not sure we wouldn't also want to turn off CWnd growth when a pacer, or a CPU bottleneck, is causing InFlight to be less than CWnd, since the main idea is that increasing CWnd will not increase the send rate.

The other side of the coin is that if inflight frequently lags cwnd for very s

[2022-01-19 02:21] nealcardwell commented on #137
] I think a few more details about the actual process for classifying whether the connection
] is "limited" might also be called for here. This is a pretty tricky part of the algorithm to implement
] without any hints.

I agree that deciding whether a connection is cwnd-limited or not is subtle, and important to document. However, IMHO it is also:

(a) its own complex topic that would open a whole

[2022-01-19 20:03] maolson-msft commented on #137
Those are good points, I think. #139 is at least an improvement.

[2022-01-26 08:54] #90 closed

[2022-01-26 08:55] #137 closed

[2022-02-07 21:46] goelvidhi opened #143 "Clarification about cwnd and flight size when referring to RFC 7661"
@nsdyoshi said,
 I just have one more comment on the draft.
In RFC5681, it mentions in Section 3:
''
   Implementation Note: An easy mistake to make is to simply use cwnd,
   rather than FlightSize, which in some implementations may
   incidentally increase well beyond rwnd.
"

while this draft mentions in Section 4.6:
"
   To avoid suboptimal performance with such applications,
   the mechanisms

[2022-02-08 08:03] larseggert commented on #143
We could point out that disagreement in our text, and use it to argue for our preference.

That should be fine.

[2022-02-10 00:11] yuchungcheng commented on #143
I also agree the writing can be more precise on computing ssthresh, in particular the "value between" wording is too arbitrary.

Will this look more clear?
"To avoid suboptimal performance with such applications, if RFC7661 is implemented, ssthresh in Figure 5 MAY be based on cwnd instead of flight_size."

[2022-02-10 08:09] goelvidhi commented on #143
It may still be not enough and we may need to explain why RFC 7661 is acceptable. I will propose something in a PR and we can discuss on that.

[2022-02-10 09:46] nsdyoshi commented on #143
+1 for adding explanations why we can override the statement in RFC5681.

[2022-02-16 06:42] goelvidhi commented on #143
Created a PR with some additional text. @yuchungcheng, I wasn't able to add you as a reviewer. Could you take a look at the PR here, https://github.com/NTAP/rfc8312bis/pull/144

[2022-02-21 16:45] #143 closed

[2022-08-15 22:46] goelvidhi opened #149 "Review RFC 7661 for multiplicative decrease section"
I spotted only after re-reading the text later and already commented on the wg mailing list:

"the mechanisms described in [RFC7661] can be used to mitigate this
issue as it would allow using a value between _cwnd_ and
_flight_size_ to calculate the new _ssthresh_ in Figure 5."

AFAIK "using a value between _cwnd_ and _flight_size_ to calculate the new _ssthresh_" does not correctly capture the al

[2022-09-09 05:19] martinthomson opened #153 "Odd shrinking formulae"
![image](https://user-images.githubusercontent.com/67641/189276965-f5171326-f602-453c-8935-fff63d1dd377.png)

Any idea why the first is so much smaller than the second?

[2022-09-09 06:44] larseggert commented on #153
I don't know.

[2022-09-09 11:53] nealcardwell commented on #153
Is it possible that it's due to the trailing double-backslashes \\ at the end of the line causing that line to be small?

  α_{cubic} = 3 * \frac{1 - β_{cubic}}{1 + β_{cubic}} \\

[2022-09-09 13:54] #153 closed

[2022-09-09 13:54] larseggert commented on #153
That was is. Thanks @nealcardwell!

[2022-09-15 11:00] gorryfair commented on #149
Sorry - I actually a week's vacation and didn't get to this promptly. I agree with video, the current text looks slightly off to me.
First: I think it is important that this ID does not change RFC7661. (Unless there is specific data to show how this performs, etc...)
Second: It really would be better to separate the sentences concerning RFC7661, and the sentences describing cubic.
I'll suggest som

[2022-09-17 12:00] gorryfair commented on #149
So, I think I need someone to also check this, but here is a suggestion, before we make a PR:

OLD:
In Figure 5, flight_size is the amount of outstanding data in the network, as defined in [RFC5681]. Note that a rate-limited application with idle periods or periods when unable to send at the full rate permitted by cwnd may easily encounter notable variations in the volume of data sent from one RTT

[2022-09-18 17:57] lisongxu commented on #149
Thanks, Gorry! This looks good to me.

[2022-09-19 10:19] larseggert commented on #149
See #155 for a PR based on @gorryfair's text. Please review.

[2022-09-22 11:38] #149 closed

[2022-09-25 23:39] markkukojo commented on #149
Thanks Gorry for the new text.

It's better now but I think the text could emphasise that calculating a new ssthresh using a value between the cwnd and flight_size (actually between flight-size and cwnd) occurs only with a non-validated cwnd, not always.

Maybe something like:

Old:
These describe how to calculate a new cwnd for sending and after congestion, a new ssthresh with a value between the

[2022-11-26 09:28] nsdyoshi opened #159 "a typo in the equation for K?"
[code]
shouldn't _cwnd_start_ in the equation be _cwnd_epoch_?

[2022-11-26 15:43] lisongxu commented on #159
Thank you, Yoshifumi! This typo has been fixed in the current pull request by Vidhi.

[2022-11-27 09:46] #159 closed